[Shelter Animal Outcomes](https://www.kaggle.com/c/shelter-animal-outcomes)

In [1]:
reset -fs

In [2]:
import pandas as pd
import numpy as np
# import datetime

import matplotlib.pyplot as plt
import seaborn as sns

import plotly.plotly as py
import plotly.graph_objs as go
import cufflinks as cf

sns.set_style("dark")
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [3]:
animals_test = pd.read_csv('data/test.csv')
print('shape:',animals_test.shape)
animals_test.head(2)

shape: (11456, 8)

,ID,Name,DateTime,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,1,Summer,2015-10-12 12:15:00,Dog,Intact Female,10 months,Labrador Retriever Mix,Red/White
1,2,Cheyenne,2014-07-26 17:59:00,Dog,Spayed Female,2 years,German Shepherd/Siberian Husky,Black/Tan

In [4]:
animals = pd.read_csv('data/train.csv')
animals.head(2)

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby

In [5]:
animals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26729 entries, 0 to 26728
Data columns (total 10 columns):
AnimalID          26729 non-null object
Name              19038 non-null object
DateTime          26729 non-null object
OutcomeType       26729 non-null object
OutcomeSubtype    13117 non-null object
AnimalType        26729 non-null object
SexuponOutcome    26728 non-null object
AgeuponOutcome    26711 non-null object
Breed             26729 non-null object
Color             26729 non-null object
dtypes: object(10)
memory usage: 2.0+ MB

## Data cleaning

In [6]:
# rename columns
animals.columns = [x.lower() for x in animals.columns]
animals = animals.rename(index=str, 
               columns={
                   "animalid": "id",
                   "datetime": "date_outcome",
                   "outcometype": "outcome",
                   "outcomesubtype": "outcome_info",
                   "animaltype": "animal",
                   "sexuponoutcome": "sex_outcome",
                   "ageuponoutcome": "age"})
animals.columns

Index(['id', 'name', 'date_outcome', 'outcome', 'outcome_info', 'animal',
       'sex_outcome', 'age', 'breed', 'color'],
      dtype='object')

In [7]:
animals.name.value_counts(dropna=False).head()

NaN        7691
Max         136
Bella       135
Charlie     107
Daisy       106
Name: name, dtype: int64

In [30]:
# replace NaN with "unknown"
animals.name.replace(np.nan, 'unknown', inplace=True)
animals.name.value_counts(dropna=False).head(10)

unknown     6569
Max          134
Bella        134
Charlie      107
Daisy        104
Lucy          94
Buddy         87
Princess      85
Rocky         84
Luna          68
Name: name, dtype: int64

In [31]:
# create bin_name column - 0 no name, 1 name
animals['bin_name'] = animals.name.apply(lambda row: 0 if 'unknown' in row else 1)

In [36]:
animals[['name','bin_name']].head()

      name  bin_name
0  Hambone         1
1    Emily         1
2   Pearce         1
3  unknown         0
4  unknown         0

### Sex and spayed/neutered
make new columns for sex, spayed/neutered... drop unknowns

In [9]:
animals.sex_outcome.value_counts(dropna=False)

Neutered Male    9779
Spayed Female    8820
Intact Male      3525
Intact Female    3511
Unknown          1093
NaN                 1
Name: sex_outcome, dtype: int64

In [10]:
# make "Unknown" NaN for dropping
animals.sex_outcome.replace('Unknown', np.nan, inplace=True)

In [11]:
animals.shape

(26729, 10)

In [12]:
animals.dropna(subset=['sex_outcome'],inplace=True)

In [13]:
animals.shape

(25635, 10)

In [14]:
animals['sex'] = animals.sex_outcome.apply(lambda row: 1 if 'Female' in row else 0)
animals['spay_neutered'] = animals.sex_outcome.apply(lambda row: 0 if 'Intact' in row else 1)

In [15]:
animals.sex.value_counts(dropna=False)

0    13304
1    12331
Name: sex, dtype: int64

In [16]:
animals.spay_neutered.value_counts(dropna=False)

1    18599
0     7036
Name: spay_neutered, dtype: int64

### Date of outcome
convert string date to datetime and create columns for day, month, year

In [17]:
animals['datetime'] = pd.to_datetime(animals['date_outcome'], infer_datetime_format=True)

In [18]:
# Monday is 0, Sunday is 6
animals['day'] = animals['datetime'].apply(lambda row: row.weekday())
# 1-12
animals['month'] = animals['datetime'].apply(lambda row: row.month)
#2013-2016
animals['year'] = animals['datetime'].apply(lambda row: row.year)
# split into morning, afternoon, evening
animals['hour'] = animals['datetime'].apply(lambda row: row.hour)
# to investigate when hour = 0
animals['minutes'] = animals['datetime'].apply(lambda row: row.minute)

In [19]:
animals.hour.value_counts(dropna=False).sort_index()

0      364
5        1
6        9
7      109
8      292
9     1057
10     375
11    1997
12    2442
13    2373
14    2670
15    2573
16    2612
17    4058
18    3562
19    1024
20      74
21      18
22       5
23      20
Name: hour, dtype: int64

In [20]:
# 00:00:00 is ambiguous and could midnight or first thing in the morning 
# or essentially be a missing value
animals.datetime.value_counts().head(10)

2015-08-11 00:00:00    19
2015-11-17 00:00:00    17
2015-07-02 00:00:00    13
2015-04-02 00:00:00    11
2014-08-31 09:00:00    10
2015-11-23 00:00:00     9
2016-02-15 00:00:00     9
2015-09-11 00:00:00     9
2015-09-01 00:00:00     8
2015-11-08 00:00:00     8
Name: datetime, dtype: int64

In [21]:
animals[(animals['hour']==0) & (animals['minutes']==0)]

,id,name,date_outcome,outcome,outcome_info,animal,sex_outcome,age,breed,color,sex,spay_neutered,datetime,day,month,year,hour,minutes
38,A702655,Mica,2015-08-11 00:00:00,Transfer,Partner,Cat,Neutered Male,4 months,Domestic Shorthair Mix,Black/White,0,1,2015-08-11,1,8,2015,0,0
117,A713392,Basil,2015-11-05 00:00:00,Transfer,Partner,Dog,Intact Male,3 months,Chihuahua Shorthair Mix,Black/White,0,0,2015-11-05,3,11,2015,0,0
175,A710071,Herb,2015-09-01 00:00:00,Transfer,Partner,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Black,0,1,2015-09-01,1,9,2015,0,0
181,A716575,Scarlet,2015-12-22 00:00:00,Transfer,Partner,Dog,Spayed Female,2 years,Australian Cattle Dog Mix,Tan/White,1,1,2015-12-22,1,12,2015,0,0
195,A683666,unknown,2015-09-01 00:00:00,Transfer,Partner,Cat,Neutered Male,1 year,Domestic Shorthair Mix,White/Cream Tabby,0,1,2015-09-01,1,9,2015,0,0
248,A709067,Earlene,2015-08-05 00:00:00,Return_to_owner,NaN,Dog,Intact Female,5 months,Boxer Mix,Black/White,1,0,2015-08-05,2,8,2015,0,0
251,A720190,Little Missy,2016-02-07 00:00:00,Transfer,Partner,Dog,Spayed Female,7 years,Airedale Terrier Mix,Tricolor,1,1,2016-02-07,6,2,2016,0,0
289,A714820,Lizzie,2015-11-05 00:00:00,Transfer,Partner,Dog,Spayed Female,6 months,Plott Hound Mix,Brown Brindle,1,1,2015-11-05,3,11,2015,0,0
306,A716488,unknown,2015-11-23 00:00:00,Transfer,Partner,Dog,Neutered Male,2 years,Pit Bull Mix,Red,0,1,2015-11-23,0,11,2015,0,0
409,A716400,Calliope,2015-11-24 00:00:00,Transfer,Partner,Dog,Intact Female,1 year,Yorkshire Terrier Mix,Black/Tan,1,0,2015-11-24,1,11,2015,0,0
627,A683817,Marvin,2016-02-07 00:00:00,Transfer,Partner,Cat,Neutered Male,1 year,Domestic Shorthair Mix,Orange Tabby/White,0,1,2016-02-07,6,2,2016,0,0
644,A700056,Alyssa,2015-05-31 00:00:00,Transfer,Partner,Dog,Spayed Female,1 year,Pit Bull Mix,Brown Brindle,1,1,2015-05-31,6,5,2015,0,0
696,A668484,Mickey,2015-11-24 00:00:00,Transfer,Partner,Dog,Neutered Male,2 years,Chihuahua Shorthair Mix,Black/Tan,0,1,2015-11-24,1,11,2015,0,0
769,A706565,Ducky,2015-07-02 00:00:00,Transfer,Partner,Cat,Neutered Male,3 months,Domestic Shorthair Mix,Black,0,1,2015-07-02,3,7,2015,0,0
798,A709165,unknown,2015-08-11 00:00:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Tabby,0,0,2015-08-11,1,8,2015,0,0
816,A622844,Squeaky,2016-01-31 00:00:00,Transfer,Partner,Dog,Spayed Female,4 years,Jack Russell Terrier/Australian Cattle Dog,White/Black,1,1,2016-01-31,6,1,2016,0,0
832,A720081,unknown,2016-02-15 00:00:00,Transfer,Partner,Dog,Intact Male,2 weeks,Labrador Retriever Mix,Tricolor,0,0,2016-02-15,0,2,2016,0,0
1039,A711514,Dakota,2015-10-17 00:00:00,Adoption,Foster,Dog,Spayed Female,2 months,Australian Cattle Dog Mix,Blue Merle/White,1,1,2015-10-17,5,10,2015,0,0
1084,A715218,Tyra,2015-11-17 00:00:00,Transfer,Partner,Cat,Spayed Female,3 months,Domestic Shorthair Mix,Tortie,1,1,2015-11-17,1,11,2015,0,0
1087,A715618,unknown,2015-11-10 00:00:00,Transfer,Partner,Dog,Intact Male,2 years,Cardigan Welsh Corgi/Chihuahua Shorthair,Tan,0,0,2015-11-10,1,11,2015,0,0
1172,A713610,Poppi,2015-10-16 00:00:00,Transfer,Partner,Dog,Spayed Female,1 year,Labrador Retriever/Border Collie,Black/White,1,1,2015-10-16,4,10,2015,0,0
1213,A700751,Gypsy,2015-07-02 00:00:00,Transfer,Partner,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Brown Tabby,1,1,2015-07-02,3,7,2015,0,0
1295,A700035,unknown,2015-04-10 00:00:00,Transfer,Partner,Dog,Spayed Female,1 year,Miniature Schnauzer Mix,Black/Tan,1,1,2015-04-10,4,4,2015,0,0
1313,A719494,unknown,2016-01-22 00:00:00,Return_to_owner,NaN,Dog,Intact Female,1 year,Siberian Husky Mix,Silver/Black,1,0,2016-01-22,4,1,2016,0,0
1406,A484945,Johnnie,2015-05-31 00:00:00,Transfer,Partner,Cat,Neutered Male,7 years,Domestic Shorthair Mix,Black,0,1,2015-05-31,6,5,2015,0,0
1411,A715280,Pauly,2015-11-08 00:00:00,Adoption,NaN,Dog,Neutered Male,2 months,Labrador Retriever Mix,Tricolor,0,1,2015-11-08,6,11,2015,0,0
1551,A717994,Wilma,2016-01-05 00:00:00,Transfer,Partner,Dog,Spayed Female,1 year,Pit Bull Mix,White/Brown Brindle,1,1,2016-01-05,1,1,2016,0,0
1640,A708175,Kiki,2015-08-23 00:00:00,Adoption,NaN,Cat,Spayed Female,1 month,Domestic Shorthair Mix,White/Black,1,1,2015-08-23,6,8,2015,0,0
1757,A713852,Peach,2015-10-18 00:00:00,Adoption,NaN,Cat,Intact Female,2 months,Domestic Shorthair Mix,Orange Tabby/White,1,0,2015-10-18,6,10,2015,0,0
2001,A699917,unknown,2015-04-08 00:00:00,Adoption,NaN,Dog,Spayed Female,2 months,Labrador Retriever Mix,Black/White,1,1,2015-04-08,2,4,2015,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24470,A700034,unknown,2015-04-10 00:00:00,Transfer,Partner,Dog,Spayed Female,5 years,Miniature Schnauzer Mix,Buff/Gray,1,1,2015-04-10,4,4,2015,0,0
24494,A695070,David,2015-01-12 00:00:00,Return_to_owner,NaN,Cat,Neutered Male,1 year,Russian Blue Mix,Blue,0,1,2015-01-12,0,1,2015,0,0
24660,A706871,unknown,2015-07-04 00:00:00,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,1,0,2015-07-04,5,7,2015,0,0
24734,A719068,Marty,2016-01-31 00:00:00,Transfer,Partner,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,Brown,0,1,2016-01-31,6,1,2016,0,0
24824,A714775,Mimi,2015-11-01 00:00:00,Transfer,Partner,Dog,Spayed Female,2 years,Chihuahua Shorthair Mix,Black/Tan,1,1,2015-11-01,6,11,2015,0,0
24886,A711584,Kitty,2015-10-18 00:00:00,Adoption,NaN,Cat,Intact Male,2 months,Domestic Shorthair Mix,Black/White,0,0,2015-10-18,6,10,2015,0,0
24915,A701701,Cooper,2015-05-21 00:00:00,Transfer,Partner,Dog,Intact Male,5 months,Miniature Poodle/Cocker Spaniel,Gold,0,0,2015-05-21,3,5,2015,0,0
25012,A720014,Rembrandt,2016-02-07 00:00:00,Transfer,Partner,Dog,Intact Male,10 months,Anatol Shepherd Mix,Tan/White,0,0,2016-02-07,6,2,2016,0,0
25037,A715106,Ms Kitty,2015-11-11 00:00:00,Transfer,Partner,Cat,Spayed Female,4 years,Domestic Shorthair Mix,Blue/White,1,1,2015-11-11,2,11,2015,0,0
25073,A712534,Chiwa,2015-09-27 00:00:00,Return_to_owner,NaN,Dog,Spayed Female,1 year,Chihuahua Shorthair Mix,White/Tan,1,1,2015-09-27,6,9,2015,0,0
25175,A714510,Simon,2015-10-28 00:00:00,Transfer,Partner,Dog,Neutered Male,1 year,Rat Terrier Mix,White/Black,0,1,2015-10-28,2,10,2015,0,0
25214,A699791,Jessica,2015-04-02 00:00:00,Transfer,Partner,Dog,Intact Female,4 weeks,Shih Tzu,Black,1,0,2015-04-02,3,4,2015,0,0
25507,A702755,Oscar,2015-07-26 00:00:00,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Orange Tabby/White,0,1,2015-07-26,6,7,2015,0,0
25521,A708038,Archie,2015-08-01 00:00:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Black Mouth Cur Mix,Tan/Tan,0,1,2015-08-01,5,8,2015,0,0
25547,A703892,Opal Jane,2015-12-13 00:00:00,Transfer,Partner,Dog,Intact Female,12 years,Chihuahua Shorthair Mix,White/Brown,1,0,2015-12-13,6,12,2015,0,0
25584,A658800,Houdini,2015-05-31 00:00:00,Transfer,Partner,Cat,Neutered Male,1 year,Domestic Medium Hair Mix,Blue/White,0,1,2015-05-31,6,5,2015,0,0
25601,A668816,Bella,2015-12-22 00:00:00,Transfer,Partner,Dog,Spayed Female,4 years,Miniature Pinscher Mix,Black/Brown,1,1,2015-12-22,1,12,2015,0,0
25870,A715635,Knight,2015-11-30 00:00:00,Transfer,Partner,Dog,Neutered Male,2 years,Australian Cattle Dog Mix,Black,0,1,2015-11-30,0,11,2015,0,0
25875,A709316,unknown,2015-08-11 00:00:00,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Torbie,1,0,2015-08-11,1,8,2015,0,0
26020,A705930,Bleu,2015-09-11 00:00:00,Return_to_owner,NaN,Dog,Spayed Female,1 year,Boxer/Pit Bull,Chocolate/White,1,1,2015-09-11,4,9,2015,0,0
26214,A714626,Marco,2015-11-17 00:00:00,Transfer,Partner,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black/White,0,1,2015-11-17,1,11,2015,0,0
26263,A710134,Eddie,2015-08-30 00:00:00,Transfer,Partner,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Black,0,1,2015-08-30,6,8,2015,0,0
26387,A708667,Phantom,2015-08-03 00:00:00,Adoption,NaN,Dog,Neutered Male,6 years,Chihuahua Shorthair Mix,Black,0,1,2015-08-03,0,8,2015,0,0
26472,A715556,unknown,2015-11-09 00:00:00,Transfer,Partner,Cat,Intact Female,3 months,Domestic Shorthair Mix,Black,1,0,2015-11-09,0,11,2015,0,0
26478,A710720,Honey,2015-12-08 00:00:00,Euthanasia,Aggressive,Dog,Intact Female,2 years,Pit Bull Mix,Tan,1,0,2015-12-08,1,12,2015,0,0
26526,A701313,Pancho,2015-05-05 00:00:00,Return_to_owner,NaN,Dog,Neutered Male,8 years,Rottweiler Mix,Brown/Black,0,1,2015-05-05,1,5,2015,0,0
26566,A706304,Mike,2015-07-06 00:00:00,Transfer,Partner,Cat,Intact Male,2 months,Domestic Shorthair Mix,Orange Tabby,0,0,2015-07-06,0,7,2015,0,0
26575,A707571,Mason,2015-08-03 00:00:00,Transfer,Partner,Cat,Neutered Male,2 years,Domestic Longhair Mix,Brown Tabby/White,0,1,2015-08-03,0,8,2015,0,0
26616,A696346,Valentine,2015-02-09 00:00:00,Transfer,Partner,Dog,Intact Female,3 years,Havanese Mix,White/Gray,1,0,2015-02-09,0,2,2015,0,0
26709,A714386,unknown,2015-10-24 00:00:00,Adoption,NaN,Dog,Spayed Female,1 month,Chihuahua Shorthair Mix,Sable/Buff,1,1,2015-10-24,5,10,2015,0,0

In [22]:
# so only 3 rows are times where hour = 0 and minutes !=0
# I'll drop these rows
print(animals[(animals['hour']==0) & (animals['minutes']==0)].shape)
print(animals[(animals['hour']==0) & (animals['minutes']!=0)].shape)

(361, 18)
(3, 18)

In [23]:
# make "Unknown" NaN for dropping
animals.hour.replace(0, np.nan, inplace=True)

In [24]:
animals.dropna(subset=['hour'],inplace=True)

### Outcome info

In [45]:
# good number of NaNs
animals.outcome_info.value_counts(dropna=False)

NaN                    13540
Partner                 6866
Foster                  1798
SCRP                    1292
Suffering                910
Aggressive               318
Offsite                  164
In Kennel                 98
Behavior                  86
Rabies Risk               69
Medical                   63
In Foster                 48
Court/Investigation        6
Enroute                    4
At Vet                     4
In Surgery                 3
Barn                       2
Name: outcome_info, dtype: int64

In [46]:
animals[['outcome', 'outcome_info']]

               outcome outcome_info
0      Return_to_owner          NaN
1           Euthanasia    Suffering
2             Adoption       Foster
3             Transfer      Partner
4             Transfer      Partner
5             Transfer      Partner
6             Transfer      Partner
8             Adoption          NaN
9             Adoption      Offsite
11            Adoption          NaN
12            Adoption       Foster
13     Return_to_owner          NaN
14     Return_to_owner          NaN
15            Adoption       Foster
16            Transfer      Partner
17            Transfer      Partner
18            Transfer      Partner
19     Return_to_owner          NaN
20            Transfer      Partner
21            Transfer      Partner
22            Adoption          NaN
23            Adoption          NaN
24     Return_to_owner          NaN
25            Transfer      Partner
26            Adoption          NaN
27            Adoption          NaN
28            Adoption          NaN
29     Return_to_owner          NaN
30          Euthanasia    Suffering
31            Transfer      Partner
...                ...          ...
26696         Adoption          NaN
26697  Return_to_owner          NaN
26698         Transfer      Partner
26699       Euthanasia     Behavior
26700  Return_to_owner          NaN
26701         Transfer      Partner
26702             Died    In Kennel
26703         Transfer      Partner
26704         Transfer      Partner
26705         Transfer      Partner
26706         Adoption          NaN
26708         Transfer      Partner
26710         Transfer      Partner
26711         Transfer      Partner
26712  Return_to_owner          NaN
26713       Euthanasia    Suffering
26714         Adoption          NaN
26715         Adoption          NaN
26716         Adoption      Offsite
26717  Return_to_owner          NaN
26718         Adoption          NaN
26720         Adoption          NaN
26721         Adoption       Foster
26722         Transfer         SCRP
26723         Adoption          NaN
26724         Transfer      Partner
26725         Transfer         SCRP
26726         Adoption          NaN
26727         Transfer      Partner
26728         Transfer         SCRP

[25271 rows x 2 columns]

In [47]:
animals[['id']].groupby([animals['outcome'], animals['outcome_info']]).count()

                                  id
outcome    outcome_info
Adoption   Barn                    1
           Foster               1798
           Offsite               164
Died       At Vet                  4
           Enroute                 4
           In Foster              48
           In Kennel              98
           In Surgery              3
Euthanasia Aggressive            318
           Behavior               86
           Court/Investigation     6
           Medical                63
           Rabies Risk            69
           Suffering             910
Transfer   Barn                    1
           Partner              6866
           SCRP                 1292

In [48]:
animals[['id']].groupby([animals['outcome'], animals['outcome_info']]).count().unstack()

                     id                                                   \
outcome_info Aggressive At Vet Barn Behavior Court/Investigation Enroute
outcome
Adoption            NaN    NaN  1.0      NaN                 NaN     NaN
Died                NaN    4.0  NaN      NaN                 NaN     4.0
Euthanasia        318.0    NaN  NaN     86.0                 6.0     NaN
Transfer            NaN    NaN  1.0      NaN                 NaN     NaN

                                                                             \
outcome_info  Foster In Foster In Kennel In Surgery Medical Offsite Partner
outcome
Adoption      1798.0       NaN       NaN        NaN     NaN   164.0     NaN
Died             NaN      48.0      98.0        3.0     NaN     NaN     NaN
Euthanasia       NaN       NaN       NaN        NaN    63.0     NaN     NaN
Transfer         NaN       NaN       NaN        NaN     NaN     NaN  6866.0


outcome_info Rabies Risk    SCRP Suffering
outcome
Adoption             NaN     NaN       NaN
Died                 NaN     NaN       NaN
Euthanasia          69.0     NaN     910.0
Transfer             NaN  1292.0       NaN

In [49]:
animals[['id']].groupby([animals['outcome'], animals['outcome_info'].isnull()]).count()

                                id
outcome         outcome_info
Adoption        False         1963
                True          8769
Died            False          157
                True            11
Euthanasia      False         1452
                True             1
Return_to_owner True          4753
Transfer        False         8159
                True             6

In [50]:
animals[['outcome', 'outcome_info']][animals['outcome_info'].isnull()].head(10)

            outcome outcome_info
0   Return_to_owner          NaN
8          Adoption          NaN
11         Adoption          NaN
13  Return_to_owner          NaN
14  Return_to_owner          NaN
19  Return_to_owner          NaN
22         Adoption          NaN
23         Adoption          NaN
24  Return_to_owner          NaN
26         Adoption          NaN

In [47]:
len(animals.breed.value_counts(dropna=True))

1380

In [48]:
len(animals.color.value_counts(dropna=True))

366

In [81]:
animals.age.value_counts()

1 year       3969
2 years      3742
2 months     3397
3 years      1823
1 month      1281
3 months     1277
4 years      1071
5 years       992
4 months      888
6 years       670
3 weeks       659
5 months      652
6 months      588
8 years       536
7 years       531
2 weeks       529
10 months     457
10 years      446
8 months      402
4 weeks       334
9 years       288
7 months      288
12 years      234
9 months      224
1 weeks       171
11 months     166
1 week        146
13 years      143
11 years      126
3 days        109
2 days         99
14 years       97
15 years       85
1 day          66
4 days         50
6 days         50
16 years       36
5 days         24
0 years        22
17 years       17
5 weeks        11
18 years       10
19 years        3
20 years        2
Name: age, dtype: int64

## TO DO: explore other plot types & colors...
- ie boxplots?
- regplot, lmplot (logistic regression plot from seaborn?)

In [56]:
animals['sex'].value_counts().iplot(kind='bar', yTitle='Sex', title='Animal sex',)

In [55]:
animals['name'].value_counts()[:20].iplot(kind='bar', yTitle='Name Frequency', title='Animal names',)

In [57]:
animals['outcome'].value_counts().iplot(kind='bar', yTitle='Outcomes', title='Animal outcomes',)

In [59]:
# subset/group by dog vs cat
animals['breed'].value_counts().iplot(kind='bar', yTitle='Breeds', title='Animal Breeds')

In [60]:
# subset/group by dog vs cat
animals['color'].value_counts().iplot(kind='bar', yTitle='Color of coat', title='Animal coat colors')