[Shelter Animal Outcomes](https://www.kaggle.com/c/shelter-animal-outcomes)

In [1]:
reset -fs

## Imports

In [2]:
import pandas as pd
import numpy as np
from collections import Counter
# import datetime

import matplotlib.pyplot as plt
import seaborn as sns

import plotly.plotly as py
import plotly.graph_objs as go
import cufflinks as cf

sns.set_style("dark")
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [3]:
animals_test = pd.read_csv('data/test.csv')
print('shape:',animals_test.shape)
animals_test.head(2)

shape: (11456, 8)

,ID,Name,DateTime,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,1,Summer,2015-10-12 12:15:00,Dog,Intact Female,10 months,Labrador Retriever Mix,Red/White
1,2,Cheyenne,2014-07-26 17:59:00,Dog,Spayed Female,2 years,German Shepherd/Siberian Husky,Black/Tan

In [4]:
animals = pd.read_csv('data/train.csv')
animals.head(2)

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby

In [5]:
animals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26729 entries, 0 to 26728
Data columns (total 10 columns):
AnimalID          26729 non-null object
Name              19038 non-null object
DateTime          26729 non-null object
OutcomeType       26729 non-null object
OutcomeSubtype    13117 non-null object
AnimalType        26729 non-null object
SexuponOutcome    26728 non-null object
AgeuponOutcome    26711 non-null object
Breed             26729 non-null object
Color             26729 non-null object
dtypes: object(10)
memory usage: 2.0+ MB

## Data cleaning

In [6]:
# rename columns
animals.columns = [x.lower() for x in animals.columns]
animals = animals.rename(index=str, 
               columns={
                   "animalid": "id",
                   "datetime": "date_outcome",
                   "outcometype": "outcome",
                   "outcomesubtype": "outcome_info",
                   "animaltype": "animal",
                   "sexuponoutcome": "sex_outcome",
                   "ageuponoutcome": "age"})
animals.columns

Index(['id', 'name', 'date_outcome', 'outcome', 'outcome_info', 'animal',
       'sex_outcome', 'age', 'breed', 'color'],
      dtype='object')

### Name

Some animals come into the shelter with no name ðŸ˜¥ â€” made a new column for this as well as top 10 most popular names.

In [7]:
len(animals.name.unique())

6375

In [8]:
animals.name.value_counts(dropna=False).head(11)

NaN         7691
Max          136
Bella        135
Charlie      107
Daisy        106
Lucy          94
Buddy         87
Princess      86
Rocky         85
Luna          68
Jack          66
Name: name, dtype: int64

In [9]:
# replace NaN with "unknown"
animals.name.replace(np.nan, 'unknown', inplace=True)
animals.name.value_counts(dropna=False).head(10)

unknown     7691
Max          136
Bella        135
Charlie      107
Daisy        106
Lucy          94
Buddy         87
Princess      86
Rocky         85
Luna          68
Name: name, dtype: int64

In [10]:
# create has_name column - 0 no name, 1 name
animals['has_name'] = animals.name.apply(lambda row: 0 if 'unknown' in row else 1)

In [11]:
animals[['name','has_name']].head()

      name  has_name
0  Hambone         1
1    Emily         1
2   Pearce         1
3  unknown         0
4  unknown         0

In [12]:
top10 = [name for name in animals.name.value_counts().head(11).index.tolist() if name != 'unknown']

def popular_name(row):
    if row in top10:
        return 1
    else:
        return 0

assert popular_name('Jack') == 1

In [13]:
animals['pop_name'] = animals.name.apply(popular_name)

In [14]:
animals.pop_name.value_counts()

0    25759
1      970
Name: pop_name, dtype: int64

In [15]:
sum(animals.name.value_counts().head(11)) - len(animals[animals.name == 'unknown'])

970

### Sex and spayed/neutered
Made new columns for sex, spayed/neutered... drop unknowns

In [16]:
animals.sex_outcome.value_counts(dropna=False)

Neutered Male    9779
Spayed Female    8820
Intact Male      3525
Intact Female    3511
Unknown          1093
NaN                 1
Name: sex_outcome, dtype: int64

In [17]:
# make "Unknown" NaN for dropping
animals.sex_outcome.replace('Unknown', np.nan, inplace=True)

In [18]:
animals.shape

(26729, 12)

In [19]:
animals.dropna(subset=['sex_outcome'],inplace=True)
animals.reset_index(drop=True, inplace=True)

In [20]:
animals.shape

(25635, 12)

In [21]:
animals['sex'] = animals.sex_outcome.apply(lambda row: 1 if 'Female' in row else 0)
animals['spay_neutered'] = animals.sex_outcome.apply(lambda row: 0 if 'Intact' in row else 1)

In [22]:
animals.sex.value_counts(dropna=False)

0    13304
1    12331
Name: sex, dtype: int64

In [23]:
animals.spay_neutered.value_counts(dropna=False)

1    18599
0     7036
Name: spay_neutered, dtype: int64

### Date of outcome
Convert string date to datetime and create columns for day, month, year

In [24]:
animals['datetime'] = pd.to_datetime(animals['date_outcome'], infer_datetime_format=True)

In [25]:
# Monday is 0, Sunday is 6
animals['day'] = animals['datetime'].apply(lambda row: row.weekday())
# 1-12
animals['month'] = animals['datetime'].apply(lambda row: row.month)
#2013-2016
animals['year'] = animals['datetime'].apply(lambda row: row.year)
# split into morning, afternoon, evening
animals['hour'] = animals['datetime'].apply(lambda row: row.hour)
# to investigate when hour = 0
animals['minutes'] = animals['datetime'].apply(lambda row: row.minute)

In [26]:
animals.hour.value_counts(dropna=False).sort_index()

0      364
5        1
6        9
7      109
8      292
9     1057
10     375
11    1997
12    2442
13    2373
14    2670
15    2573
16    2612
17    4058
18    3562
19    1024
20      74
21      18
22       5
23      20
Name: hour, dtype: int64

In [27]:
# 00:00:00 is ambiguous and could midnight or first thing in the morning 
# or essentially be a missing value
animals.datetime.value_counts().head(10)

2015-08-11 00:00:00    19
2015-11-17 00:00:00    17
2015-07-02 00:00:00    13
2015-04-02 00:00:00    11
2014-08-31 09:00:00    10
2015-11-23 00:00:00     9
2016-02-15 00:00:00     9
2015-09-11 00:00:00     9
2015-09-01 00:00:00     8
2015-11-08 00:00:00     8
Name: datetime, dtype: int64

In [28]:
animals[(animals['hour']==0) & (animals['minutes']==0)]

,id,name,date_outcome,outcome,outcome_info,animal,sex_outcome,age,breed,color,has_name,pop_name,sex,spay_neutered,datetime,day,month,year,hour,minutes
36,A702655,Mica,2015-08-11 00:00:00,Transfer,Partner,Cat,Neutered Male,4 months,Domestic Shorthair Mix,Black/White,1,0,0,1,2015-08-11,1,8,2015,0,0
110,A713392,Basil,2015-11-05 00:00:00,Transfer,Partner,Dog,Intact Male,3 months,Chihuahua Shorthair Mix,Black/White,1,0,0,0,2015-11-05,3,11,2015,0,0
167,A710071,Herb,2015-09-01 00:00:00,Transfer,Partner,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Black,1,0,0,1,2015-09-01,1,9,2015,0,0
173,A716575,Scarlet,2015-12-22 00:00:00,Transfer,Partner,Dog,Spayed Female,2 years,Australian Cattle Dog Mix,Tan/White,1,0,1,1,2015-12-22,1,12,2015,0,0
187,A683666,unknown,2015-09-01 00:00:00,Transfer,Partner,Cat,Neutered Male,1 year,Domestic Shorthair Mix,White/Cream Tabby,0,0,0,1,2015-09-01,1,9,2015,0,0
239,A709067,Earlene,2015-08-05 00:00:00,Return_to_owner,NaN,Dog,Intact Female,5 months,Boxer Mix,Black/White,1,0,1,0,2015-08-05,2,8,2015,0,0
242,A720190,Little Missy,2016-02-07 00:00:00,Transfer,Partner,Dog,Spayed Female,7 years,Airedale Terrier Mix,Tricolor,1,0,1,1,2016-02-07,6,2,2016,0,0
278,A714820,Lizzie,2015-11-05 00:00:00,Transfer,Partner,Dog,Spayed Female,6 months,Plott Hound Mix,Brown Brindle,1,0,1,1,2015-11-05,3,11,2015,0,0
295,A716488,unknown,2015-11-23 00:00:00,Transfer,Partner,Dog,Neutered Male,2 years,Pit Bull Mix,Red,0,0,0,1,2015-11-23,0,11,2015,0,0
395,A716400,Calliope,2015-11-24 00:00:00,Transfer,Partner,Dog,Intact Female,1 year,Yorkshire Terrier Mix,Black/Tan,1,0,1,0,2015-11-24,1,11,2015,0,0
600,A683817,Marvin,2016-02-07 00:00:00,Transfer,Partner,Cat,Neutered Male,1 year,Domestic Shorthair Mix,Orange Tabby/White,1,0,0,1,2016-02-07,6,2,2016,0,0
617,A700056,Alyssa,2015-05-31 00:00:00,Transfer,Partner,Dog,Spayed Female,1 year,Pit Bull Mix,Brown Brindle,1,0,1,1,2015-05-31,6,5,2015,0,0
668,A668484,Mickey,2015-11-24 00:00:00,Transfer,Partner,Dog,Neutered Male,2 years,Chihuahua Shorthair Mix,Black/Tan,1,0,0,1,2015-11-24,1,11,2015,0,0
740,A706565,Ducky,2015-07-02 00:00:00,Transfer,Partner,Cat,Neutered Male,3 months,Domestic Shorthair Mix,Black,1,0,0,1,2015-07-02,3,7,2015,0,0
768,A709165,unknown,2015-08-11 00:00:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Tabby,0,0,0,0,2015-08-11,1,8,2015,0,0
784,A622844,Squeaky,2016-01-31 00:00:00,Transfer,Partner,Dog,Spayed Female,4 years,Jack Russell Terrier/Australian Cattle Dog,White/Black,1,0,1,1,2016-01-31,6,1,2016,0,0
800,A720081,unknown,2016-02-15 00:00:00,Transfer,Partner,Dog,Intact Male,2 weeks,Labrador Retriever Mix,Tricolor,0,0,0,0,2016-02-15,0,2,2016,0,0
997,A711514,Dakota,2015-10-17 00:00:00,Adoption,Foster,Dog,Spayed Female,2 months,Australian Cattle Dog Mix,Blue Merle/White,1,0,1,1,2015-10-17,5,10,2015,0,0
1037,A715218,Tyra,2015-11-17 00:00:00,Transfer,Partner,Cat,Spayed Female,3 months,Domestic Shorthair Mix,Tortie,1,0,1,1,2015-11-17,1,11,2015,0,0
1040,A715618,unknown,2015-11-10 00:00:00,Transfer,Partner,Dog,Intact Male,2 years,Cardigan Welsh Corgi/Chihuahua Shorthair,Tan,0,0,0,0,2015-11-10,1,11,2015,0,0
1122,A713610,Poppi,2015-10-16 00:00:00,Transfer,Partner,Dog,Spayed Female,1 year,Labrador Retriever/Border Collie,Black/White,1,0,1,1,2015-10-16,4,10,2015,0,0
1163,A700751,Gypsy,2015-07-02 00:00:00,Transfer,Partner,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Brown Tabby,1,0,1,1,2015-07-02,3,7,2015,0,0
1243,A700035,unknown,2015-04-10 00:00:00,Transfer,Partner,Dog,Spayed Female,1 year,Miniature Schnauzer Mix,Black/Tan,0,0,1,1,2015-04-10,4,4,2015,0,0
1261,A719494,unknown,2016-01-22 00:00:00,Return_to_owner,NaN,Dog,Intact Female,1 year,Siberian Husky Mix,Silver/Black,0,0,1,0,2016-01-22,4,1,2016,0,0
1351,A484945,Johnnie,2015-05-31 00:00:00,Transfer,Partner,Cat,Neutered Male,7 years,Domestic Shorthair Mix,Black,1,0,0,1,2015-05-31,6,5,2015,0,0
1356,A715280,Pauly,2015-11-08 00:00:00,Adoption,NaN,Dog,Neutered Male,2 months,Labrador Retriever Mix,Tricolor,1,0,0,1,2015-11-08,6,11,2015,0,0
1488,A717994,Wilma,2016-01-05 00:00:00,Transfer,Partner,Dog,Spayed Female,1 year,Pit Bull Mix,White/Brown Brindle,1,0,1,1,2016-01-05,1,1,2016,0,0
1576,A708175,Kiki,2015-08-23 00:00:00,Adoption,NaN,Cat,Spayed Female,1 month,Domestic Shorthair Mix,White/Black,1,0,1,1,2015-08-23,6,8,2015,0,0
1686,A713852,Peach,2015-10-18 00:00:00,Adoption,NaN,Cat,Intact Female,2 months,Domestic Shorthair Mix,Orange Tabby/White,1,0,1,0,2015-10-18,6,10,2015,0,0
1921,A699917,unknown,2015-04-08 00:00:00,Adoption,NaN,Dog,Spayed Female,2 months,Labrador Retriever Mix,Black/White,0,0,1,1,2015-04-08,2,4,2015,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23469,A700034,unknown,2015-04-10 00:00:00,Transfer,Partner,Dog,Spayed Female,5 years,Miniature Schnauzer Mix,Buff/Gray,0,0,1,1,2015-04-10,4,4,2015,0,0
23491,A695070,David,2015-01-12 00:00:00,Return_to_owner,NaN,Cat,Neutered Male,1 year,Russian Blue Mix,Blue,1,0,0,1,2015-01-12,0,1,2015,0,0
23649,A706871,unknown,2015-07-04 00:00:00,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,0,0,1,0,2015-07-04,5,7,2015,0,0
23721,A719068,Marty,2016-01-31 00:00:00,Transfer,Partner,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,Brown,1,0,0,1,2016-01-31,6,1,2016,0,0
23807,A714775,Mimi,2015-11-01 00:00:00,Transfer,Partner,Dog,Spayed Female,2 years,Chihuahua Shorthair Mix,Black/Tan,1,0,1,1,2015-11-01,6,11,2015,0,0
23868,A711584,Kitty,2015-10-18 00:00:00,Adoption,NaN,Cat,Intact Male,2 months,Domestic Shorthair Mix,Black/White,1,0,0,0,2015-10-18,6,10,2015,0,0
23897,A701701,Cooper,2015-05-21 00:00:00,Transfer,Partner,Dog,Intact Male,5 months,Miniature Poodle/Cocker Spaniel,Gold,1,0,0,0,2015-05-21,3,5,2015,0,0
23992,A720014,Rembrandt,2016-02-07 00:00:00,Transfer,Partner,Dog,Intact Male,10 months,Anatol Shepherd Mix,Tan/White,1,0,0,0,2016-02-07,6,2,2016,0,0
24016,A715106,Ms Kitty,2015-11-11 00:00:00,Transfer,Partner,Cat,Spayed Female,4 years,Domestic Shorthair Mix,Blue/White,1,0,1,1,2015-11-11,2,11,2015,0,0
24050,A712534,Chiwa,2015-09-27 00:00:00,Return_to_owner,NaN,Dog,Spayed Female,1 year,Chihuahua Shorthair Mix,White/Tan,1,0,1,1,2015-09-27,6,9,2015,0,0
24143,A714510,Simon,2015-10-28 00:00:00,Transfer,Partner,Dog,Neutered Male,1 year,Rat Terrier Mix,White/Black,1,0,0,1,2015-10-28,2,10,2015,0,0
24180,A699791,Jessica,2015-04-02 00:00:00,Transfer,Partner,Dog,Intact Female,4 weeks,Shih Tzu,Black,1,0,1,0,2015-04-02,3,4,2015,0,0
24454,A702755,Oscar,2015-07-26 00:00:00,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Orange Tabby/White,1,0,0,1,2015-07-26,6,7,2015,0,0
24468,A708038,Archie,2015-08-01 00:00:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Black Mouth Cur Mix,Tan/Tan,1,0,0,1,2015-08-01,5,8,2015,0,0
24491,A703892,Opal Jane,2015-12-13 00:00:00,Transfer,Partner,Dog,Intact Female,12 years,Chihuahua Shorthair Mix,White/Brown,1,0,1,0,2015-12-13,6,12,2015,0,0
24526,A658800,Houdini,2015-05-31 00:00:00,Transfer,Partner,Cat,Neutered Male,1 year,Domestic Medium Hair Mix,Blue/White,1,0,0,1,2015-05-31,6,5,2015,0,0
24542,A668816,Bella,2015-12-22 00:00:00,Transfer,Partner,Dog,Spayed Female,4 years,Miniature Pinscher Mix,Black/Brown,1,1,1,1,2015-12-22,1,12,2015,0,0
24801,A715635,Knight,2015-11-30 00:00:00,Transfer,Partner,Dog,Neutered Male,2 years,Australian Cattle Dog Mix,Black,1,0,0,1,2015-11-30,0,11,2015,0,0
24805,A709316,unknown,2015-08-11 00:00:00,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Torbie,0,0,1,0,2015-08-11,1,8,2015,0,0
24946,A705930,Bleu,2015-09-11 00:00:00,Return_to_owner,NaN,Dog,Spayed Female,1 year,Boxer/Pit Bull,Chocolate/White,1,0,1,1,2015-09-11,4,9,2015,0,0
25136,A714626,Marco,2015-11-17 00:00:00,Transfer,Partner,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black/White,1,0,0,1,2015-11-17,1,11,2015,0,0
25184,A710134,Eddie,2015-08-30 00:00:00,Transfer,Partner,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Black,1,0,0,1,2015-08-30,6,8,2015,0,0
25304,A708667,Phantom,2015-08-03 00:00:00,Adoption,NaN,Dog,Neutered Male,6 years,Chihuahua Shorthair Mix,Black,1,0,0,1,2015-08-03,0,8,2015,0,0
25386,A715556,unknown,2015-11-09 00:00:00,Transfer,Partner,Cat,Intact Female,3 months,Domestic Shorthair Mix,Black,0,0,1,0,2015-11-09,0,11,2015,0,0
25392,A710720,Honey,2015-12-08 00:00:00,Euthanasia,Aggressive,Dog,Intact Female,2 years,Pit Bull Mix,Tan,1,0,1,0,2015-12-08,1,12,2015,0,0
25437,A701313,Pancho,2015-05-05 00:00:00,Return_to_owner,NaN,Dog,Neutered Male,8 years,Rottweiler Mix,Brown/Black,1,0,0,1,2015-05-05,1,5,2015,0,0
25477,A706304,Mike,2015-07-06 00:00:00,Transfer,Partner,Cat,Intact Male,2 months,Domestic Shorthair Mix,Orange Tabby,1,0,0,0,2015-07-06,0,7,2015,0,0
25485,A707571,Mason,2015-08-03 00:00:00,Transfer,Partner,Cat,Neutered Male,2 years,Domestic Longhair Mix,Brown Tabby/White,1,0,0,1,2015-08-03,0,8,2015,0,0
25526,A696346,Valentine,2015-02-09 00:00:00,Transfer,Partner,Dog,Intact Female,3 years,Havanese Mix,White/Gray,1,0,1,0,2015-02-09,0,2,2015,0,0
25616,A714386,unknown,2015-10-24 00:00:00,Adoption,NaN,Dog,Spayed Female,1 month,Chihuahua Shorthair Mix,Sable/Buff,0,0,1,1,2015-10-24,5,10,2015,0,0

In [29]:
# so only 3 rows are times where hour = 0 and minutes !=0
# I'll drop these rows
print(animals[(animals['hour']==0) & (animals['minutes']==0)].shape)
print(animals[(animals['hour']==0) & (animals['minutes']!=0)].shape)

(361, 20)
(3, 20)

In [30]:
# make "Unknown" NaN for dropping
animals.hour.replace(0, np.nan, inplace=True)

In [31]:
animals.dropna(subset=['hour'],inplace=True)

In [32]:
def season(row):
    if row == 3 or row == 4 or row == 5:
        season = 'spring'
    elif row == 6 or row == 7 or row == 8:
        season = 'summer'
    elif row == 9 or row == 10 or row == 11:
        season = 'fall'
    else:
        season = 'winter'
    return season

assert season(12) == 'winter'

In [33]:
animals['season'] = animals.month.apply(season)

In [34]:
animals.hour.value_counts(dropna=False).sort_index(ascending=True)

5.0        1
6.0        9
7.0      109
8.0      292
9.0     1057
10.0     375
11.0    1997
12.0    2442
13.0    2373
14.0    2670
15.0    2573
16.0    2612
17.0    4058
18.0    3562
19.0    1024
20.0      74
21.0      18
22.0       5
23.0      20
Name: hour, dtype: int64

In [35]:
def time_of_day(row):
    if row >= 5 and row < 12:
        time = 'morning'
    elif row >= 12 and row < 5:
        time = 'afternoon'
    else:
        time = 'evening'
    return time

assert time_of_day(5) == 'morning'

In [36]:
animals['time_of_day'] = animals.month.apply(time_of_day)

### Outcome
To keep things simple make this purely binary 0 - not adopted, 1 - adopted

In [94]:
animals.outcome.value_counts(dropna=False)

Adoption           10732
Transfer            8145
Return_to_owner     4753
Euthanasia          1451
Died                 167
Name: outcome, dtype: int64

In [96]:
animals['adopted'] = animals.outcome.apply(lambda row: 1 if row == 'Adoption' else 0)

In [97]:
animals.adopted.value_counts(dropna=False)

0    14516
1    10732
Name: adopted, dtype: int64

In [104]:
sum([i for i in animals.outcome.value_counts().tolist() if i != \
    animals.outcome.value_counts().tolist()[0]])

14516

### Outcome info

After examining this variable I've come to the conclusion it's not useful as it's information explaining the details of the Outcome after the fact so I won't include it in any modeling.

In [37]:
# good number of NaNs
animals.outcome_info.value_counts(dropna=False)

NaN                    13540
Partner                 6866
Foster                  1798
SCRP                    1292
Suffering                910
Aggressive               318
Offsite                  164
In Kennel                 98
Behavior                  86
Rabies Risk               69
Medical                   63
In Foster                 48
Court/Investigation        6
At Vet                     4
Enroute                    4
In Surgery                 3
Barn                       2
Name: outcome_info, dtype: int64

In [38]:
animals[['outcome', 'outcome_info']]

               outcome outcome_info
0      Return_to_owner          NaN
1           Euthanasia    Suffering
2             Adoption       Foster
3             Transfer      Partner
4             Transfer      Partner
5             Transfer      Partner
6             Transfer      Partner
7             Adoption          NaN
8             Adoption      Offsite
9             Adoption          NaN
10            Adoption       Foster
11     Return_to_owner          NaN
12     Return_to_owner          NaN
13            Adoption       Foster
14            Transfer      Partner
15            Transfer      Partner
16            Transfer      Partner
17     Return_to_owner          NaN
18            Transfer      Partner
19            Transfer      Partner
20            Adoption          NaN
21            Adoption          NaN
22     Return_to_owner          NaN
23            Transfer      Partner
24            Adoption          NaN
25            Adoption          NaN
26            Adoption          NaN
27     Return_to_owner          NaN
28          Euthanasia    Suffering
29            Transfer      Partner
...                ...          ...
25604         Adoption          NaN
25605  Return_to_owner          NaN
25606         Transfer      Partner
25607       Euthanasia     Behavior
25608  Return_to_owner          NaN
25609         Transfer      Partner
25610             Died    In Kennel
25611         Transfer      Partner
25612         Transfer      Partner
25613         Transfer      Partner
25614         Adoption          NaN
25615         Transfer      Partner
25617         Transfer      Partner
25618         Transfer      Partner
25619  Return_to_owner          NaN
25620       Euthanasia    Suffering
25621         Adoption          NaN
25622         Adoption          NaN
25623         Adoption      Offsite
25624  Return_to_owner          NaN
25625         Adoption          NaN
25626         Adoption          NaN
25627         Adoption       Foster
25628         Transfer         SCRP
25629         Adoption          NaN
25630         Transfer      Partner
25631         Transfer         SCRP
25632         Adoption          NaN
25633         Transfer      Partner
25634         Transfer         SCRP

[25271 rows x 2 columns]

In [39]:
animals[['id']].groupby([animals['outcome'], animals['outcome_info']]).count()

                                  id
outcome    outcome_info
Adoption   Barn                    1
           Foster               1798
           Offsite               164
Died       At Vet                  4
           Enroute                 4
           In Foster              48
           In Kennel              98
           In Surgery              3
Euthanasia Aggressive            318
           Behavior               86
           Court/Investigation     6
           Medical                63
           Rabies Risk            69
           Suffering             910
Transfer   Barn                    1
           Partner              6866
           SCRP                 1292

In [40]:
animals[['id']].groupby([animals['outcome'], animals['outcome_info']]).count().unstack()

                     id                                                   \
outcome_info Aggressive At Vet Barn Behavior Court/Investigation Enroute
outcome
Adoption            NaN    NaN  1.0      NaN                 NaN     NaN
Died                NaN    4.0  NaN      NaN                 NaN     4.0
Euthanasia        318.0    NaN  NaN     86.0                 6.0     NaN
Transfer            NaN    NaN  1.0      NaN                 NaN     NaN

                                                                             \
outcome_info  Foster In Foster In Kennel In Surgery Medical Offsite Partner
outcome
Adoption      1798.0       NaN       NaN        NaN     NaN   164.0     NaN
Died             NaN      48.0      98.0        3.0     NaN     NaN     NaN
Euthanasia       NaN       NaN       NaN        NaN    63.0     NaN     NaN
Transfer         NaN       NaN       NaN        NaN     NaN     NaN  6866.0


outcome_info Rabies Risk    SCRP Suffering
outcome
Adoption             NaN     NaN       NaN
Died                 NaN     NaN       NaN
Euthanasia          69.0     NaN     910.0
Transfer             NaN  1292.0       NaN

In [41]:
animals[['id']].groupby([animals['outcome'], animals['outcome_info'].isnull()]).count()

                                id
outcome         outcome_info
Adoption        False         1963
                True          8769
Died            False          157
                True            11
Euthanasia      False         1452
                True             1
Return_to_owner True          4753
Transfer        False         8159
                True             6

In [42]:
animals[['outcome', 'outcome_info']][animals['outcome_info'].isnull()].head(10)

            outcome outcome_info
0   Return_to_owner          NaN
7          Adoption          NaN
9          Adoption          NaN
11  Return_to_owner          NaN
12  Return_to_owner          NaN
17  Return_to_owner          NaN
20         Adoption          NaN
21         Adoption          NaN
22  Return_to_owner          NaN
24         Adoption          NaN

### Age

In [43]:
len(animals.age.unique())

45

In [44]:
# drop NaN and 0 years
animals.age.value_counts(dropna=False)

1 year       3788
2 years      3599
2 months     3331
3 years      1788
3 months     1231
1 month      1230
4 years      1047
5 years       972
4 months      851
6 years       656
5 months      632
6 months      563
8 years       529
3 weeks       528
7 years       521
10 years      442
10 months     442
8 months      371
2 weeks       359
9 years       283
7 months      281
4 weeks       280
12 years      232
9 months      218
11 months     161
13 years      141
11 years      125
1 weeks       114
14 years       96
15 years       85
1 week         66
2 days         60
3 days         55
4 days         38
16 years       34
1 day          24
6 days         21
17 years       17
NaN            14
5 weeks        11
5 days         11
18 years       10
0 years         9
19 years        3
20 years        2
Name: age, dtype: int64

In [45]:
animals.age.replace('0 years', np.nan, inplace=True)

In [46]:
animals.shape

(25271, 22)

In [47]:
animals.dropna(subset=['age'],inplace=True)
animals.reset_index(drop=True, inplace=True)

In [48]:
animals.shape

(25248, 22)

In [49]:
def age_in_weeks(row): 
    if row.find('day') > 0:
        num = int(row.split(' ')[0]) / 7
    elif row.find('week') > 0:
        num = int(row.split(' ')[0])
    elif row.find('month') > 0:
        num = int(row.split(' ')[0]) * 4
    elif row.find('year') > 0:
        num = int(row.split(' ')[0]) * 52
    else:
        num = 'unknown'
    return num

assert age_in_weeks('1 day') == 1/7
assert age_in_weeks('6 days') == 6/7

In [50]:
animals['age_in_weeks'] = animals.age.apply(age_in_weeks)

In [51]:
# verify
animals[['age','age_in_weeks']].head(50)

          age  age_in_weeks
0      1 year          52.0
1      1 year          52.0
2     2 years         104.0
3     3 weeks           3.0
4     2 years         104.0
5     1 month           4.0
6     3 weeks           3.0
7    5 months          20.0
8      1 year          52.0
9     2 years         104.0
10    4 years         208.0
11    2 years         104.0
12     1 year          52.0
13   3 months          12.0
14    3 weeks           3.0
15    2 weeks           2.0
16    2 years         104.0
17     1 year          52.0
18   2 months           8.0
19     1 year          52.0
20    2 years         104.0
21  10 months          40.0
22   2 months           8.0
23    1 month           4.0
24   6 months          24.0
25    5 years         260.0
26   2 months           8.0
27    7 years         364.0
28    3 years         156.0
29   4 months          16.0
30   2 months           8.0
31    5 years         260.0
32    3 years         156.0
33    3 years         156.0
34    3 years         156.0
35   2 months           8.0
36    3 weeks           3.0
37    7 years         364.0
38   2 months           8.0
39   2 months           8.0
40    4 years         208.0
41    2 years         104.0
42   12 years         624.0
43    9 years         468.0
44    3 weeks           3.0
45   5 months          20.0
46    6 years         312.0
47     1 year          52.0
48   3 months          12.0
49    3 weeks           3.0

In [52]:
assert age_in_weeks(animals.age[10]) == 208

In [53]:
animals.age_in_weeks.value_counts(dropna=False)

52.000000      3788
104.000000     3599
8.000000       3331
156.000000     1788
4.000000       1510
12.000000      1231
208.000000     1047
260.000000      972
16.000000       851
312.000000      656
20.000000       632
24.000000       563
416.000000      529
3.000000        528
364.000000      521
520.000000      442
40.000000       442
32.000000       371
2.000000        359
468.000000      283
28.000000       281
624.000000      232
36.000000       218
1.000000        180
44.000000       161
676.000000      141
572.000000      125
728.000000       96
780.000000       85
0.285714         60
0.428571         55
0.571429         38
832.000000       34
0.142857         24
0.857143         21
884.000000       17
5.000000         11
0.714286         11
936.000000       10
988.000000        3
1040.000000       2
Name: age_in_weeks, dtype: int64

### Color

In [54]:
animals.columns

Index(['id', 'name', 'date_outcome', 'outcome', 'outcome_info', 'animal',
       'sex_outcome', 'age', 'breed', 'color', 'has_name', 'pop_name', 'sex',
       'spay_neutered', 'datetime', 'day', 'month', 'year', 'hour', 'minutes',
       'season', 'time_of_day', 'age_in_weeks'],
      dtype='object')

In [55]:
len(animals.color.value_counts(dropna=True))

358

In [56]:
value_counts = animals.color.value_counts()
print(len(value_counts[value_counts > 500]))
value_counts[value_counts > 500]

16

Black/White          2658
Black                2053
Brown Tabby          1428
White                 879
Brown/White           877
Brown Tabby/White     829
Tan/White             757
Orange Tabby          750
Tricolor              740
Blue/White            663
Black/Tan             663
Brown                 617
Tan                   609
White/Black           598
White/Brown           554
Tortie                509
Name: color, dtype: int64

In [57]:
animals['color_list'] = animals.color.apply(lambda row: row.split('/'))

In [58]:
animals['color_list'].head(10)

0    [Brown, White]
1     [Cream Tabby]
2     [Blue, White]
3      [Blue Cream]
4             [Tan]
5      [Black, Tan]
6      [Blue Tabby]
7      [Red, White]
8           [White]
9          [Silver]
Name: color_list, dtype: object

In [59]:
colors = [color for color_list in animals.color_list for color in color_list]
unique_colors = list(set(colors))
print(len(unique_colors))
unique_colors

57

['Liver Tick',
 'Blue Merle',
 'Chocolate Point',
 'Black',
 'Black Tiger',
 'Orange Tiger',
 'Brown Tiger',
 'Lynx Point',
 'Torbie',
 'Yellow Brindle',
 'Silver Tabby',
 'Gray',
 'Cream',
 'Red',
 'Red Merle',
 'Gold',
 'Calico',
 'Orange',
 'Blue Smoke',
 'Ruddy',
 'Silver',
 'Blue',
 'White',
 'Tan',
 'Tortie',
 'Black Tabby',
 'Agouti',
 'Cream Tabby',
 'Blue Cream',
 'Blue Point',
 'Apricot',
 'Sable',
 'Silver Lynx Point',
 'Liver',
 'Calico Point',
 'Orange Tabby',
 'Blue Tiger',
 'Seal Point',
 'Chocolate',
 'Pink',
 'Fawn',
 'Buff',
 'Brown Merle',
 'Gray Tabby',
 'Flame Point',
 'Brown Brindle',
 'Yellow',
 'Blue Tick',
 'Tortie Point',
 'Tricolor',
 'Black Brindle',
 'Brown Tabby',
 'Black Smoke',
 'Red Tick',
 'Lilac Point',
 'Brown',
 'Blue Tabby']

In [60]:
simple_colors = [color for phrases in unique_colors for color in phrases.split()]
len(set((simple_colors)))

36

In [61]:
simple_colors = Counter(simple_colors)
simple_colors.most_common()

[('Point', 9),
 ('Blue', 8),
 ('Tabby', 7),
 ('Black', 5),
 ('Brown', 5),
 ('Tiger', 4),
 ('Tick', 3),
 ('Merle', 3),
 ('Orange', 3),
 ('Brindle', 3),
 ('Silver', 3),
 ('Cream', 3),
 ('Red', 3),
 ('Liver', 2),
 ('Chocolate', 2),
 ('Lynx', 2),
 ('Yellow', 2),
 ('Gray', 2),
 ('Calico', 2),
 ('Smoke', 2),
 ('Tortie', 2),
 ('Torbie', 1),
 ('Gold', 1),
 ('Ruddy', 1),
 ('White', 1),
 ('Tan', 1),
 ('Agouti', 1),
 ('Apricot', 1),
 ('Sable', 1),
 ('Seal', 1),
 ('Pink', 1),
 ('Fawn', 1),
 ('Buff', 1),
 ('Flame', 1),
 ('Tricolor', 1),
 ('Lilac', 1)]

In [62]:
simple_colors = list(set(simple_colors))
len(simple_colors)

36

In [63]:
simple_colors

['Lynx',
 'Black',
 'Flame',
 'Tiger',
 'Torbie',
 'Gray',
 'Lilac',
 'Cream',
 'Red',
 'Orange',
 'Gold',
 'Calico',
 'Ruddy',
 'Silver',
 'Blue',
 'White',
 'Tan',
 'Tortie',
 'Seal',
 'Agouti',
 'Tick',
 'Apricot',
 'Point',
 'Sable',
 'Liver',
 'Brindle',
 'Chocolate',
 'Smoke',
 'Pink',
 'Fawn',
 'Buff',
 'Tabby',
 'Yellow',
 'Merle',
 'Tricolor',
 'Brown']

In [64]:
simple_colors.remove('Point')
simple_colors.remove('Tick')

In [65]:
for color in simple_colors:
    animals[color] = animals.color_list.map(lambda row: 1 if color in row else 0)

In [66]:
animals.head(3)

,id,name,date_outcome,outcome,outcome_info,animal,sex_outcome,age,breed,color,...,Chocolate,Smoke,Pink,Fawn,Buff,Tabby,Yellow,Merle,Tricolor,Brown
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White,...,0,0,0,0,0,0,0,0,0,1
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby,...,0,0,0,0,0,0,0,0,0,0
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White,...,0,0,0,0,0,0,0,0,0,0

In [67]:
animals.shape

(25248, 58)

### Breed

In [77]:
print(len(animals.breed.value_counts()))
value_counts = animals.breed.value_counts()
print(len(value_counts[value_counts > 100]))
value_counts[value_counts > 100]

1371
25

Domestic Shorthair Mix       7782
Pit Bull Mix                 1876
Chihuahua Shorthair Mix      1726
Labrador Retriever Mix       1322
Domestic Medium Hair Mix      786
German Shepherd Mix           570
Domestic Longhair Mix         482
Siamese Mix                   368
Australian Cattle Dog Mix     362
Dachshund Mix                 309
Boxer Mix                     233
Miniature Poodle Mix          231
Border Collie Mix             214
Australian Shepherd Mix       158
Catahoula Mix                 155
Rat Terrier Mix               153
Jack Russell Terrier Mix      144
Yorkshire Terrier Mix         141
Chihuahua Longhair Mix        138
Siberian Husky Mix            135
Miniature Schnauzer Mix       133
Domestic Shorthair            133
Beagle Mix                    123
Rottweiler Mix                110
American Bulldog Mix          109
Name: breed, dtype: int64

In [78]:
animals['mixed_breed'] = animals.breed.apply(lambda row: \
                                             1 if '/' in row or 'mix' in row.lower() else 0)

In [79]:
animals[['breed','mixed_breed']].head(10)

                               breed  mixed_breed
0              Shetland Sheepdog Mix            1
1             Domestic Shorthair Mix            1
2                       Pit Bull Mix            1
3             Domestic Shorthair Mix            1
4        Lhasa Apso/Miniature Poodle            1
5  Cairn Terrier/Chihuahua Shorthair            1
6             Domestic Shorthair Mix            1
7      American Pit Bull Terrier Mix            1
8                      Cairn Terrier            0
9            Miniature Schnauzer Mix            1

In [80]:
animals['breed_list'] = animals.breed.apply(lambda row: row.split('/'))

In [81]:
animals.columns

Index(['id', 'name', 'date_outcome', 'outcome', 'outcome_info', 'animal',
       'sex_outcome', 'age', 'breed', 'color', 'has_name', 'pop_name', 'sex',
       'spay_neutered', 'datetime', 'day', 'month', 'year', 'hour', 'minutes',
       'season', 'time_of_day', 'age_in_weeks', 'color_list', 'Lynx', 'Black',
       'Flame', 'Tiger', 'Torbie', 'Gray', 'Lilac', 'Cream', 'Red', 'Orange',
       'Gold', 'Calico', 'Ruddy', 'Silver', 'Blue', 'White', 'Tan', 'Tortie',
       'Seal', 'Agouti', 'Apricot', 'Sable', 'Liver', 'Brindle', 'Chocolate',
       'Smoke', 'Pink', 'Fawn', 'Buff', 'Tabby', 'Yellow', 'Merle', 'Tricolor',
       'Brown', 'multicolor', 'mixed_breed', 'breed_list'],
      dtype='object')

In [82]:
animals['breed_list'].head()

0           [Shetland Sheepdog Mix]
1          [Domestic Shorthair Mix]
2                    [Pit Bull Mix]
3          [Domestic Shorthair Mix]
4    [Lhasa Apso, Miniature Poodle]
Name: breed_list, dtype: object

In [83]:
breeds = [breed for breed_list in animals.breed_list for breed in breed_list]
unique_breeds = list(set(breeds))
print(len(unique_breeds))
unique_breeds

397

['German Shepherd Mix',
 'Manchester Terrier',
 'Jack Russell Terrier Mix',
 'Podengo Pequeno Mix',
 'Scottish Terrier Mix',
 'French Bulldog',
 'Pembroke Welsh Corgi Mix',
 'Swedish Vallhund',
 'Silky Terrier',
 'Greyhound Mix',
 'Neapolitan Mastiff Mix',
 'Pbgv Mix',
 'St. Bernard Smooth Coat',
 'Siamese Mix',
 'Miniature Pinscher Mix',
 'Greyhound',
 'Cardigan Welsh Corgi Mix',
 'Domestic Shorthair Mix',
 'Ragdoll Mix',
 'Bullmastiff Mix',
 'St. Bernard Smooth Coat Mix',
 'Irish Terrier Mix',
 'Chinese Sharpei Mix',
 'Welsh Terrier',
 'Dalmatian Mix',
 'Norwich Terrier',
 'Manx Mix',
 'Picardy Sheepdog Mix',
 'Vizsla Mix',
 'Exotic Shorthair Mix',
 'American Foxhound',
 'Flat Coat Retriever',
 'Great Dane',
 'Maine Coon',
 'Japanese Chin Mix',
 'Yorkshire Terrier Mix',
 'Rhod Ridgeback Mix',
 'St. Bernard Rough Coat',
 'Snowshoe',
 'Siberian Husky',
 'Golden Retriever',
 'Jack Russell Terrier',
 'Shih Tzu Mix',
 'Keeshond',
 'Dogo Argentino',
 'Plott Hound',
 'Skye Terrier Mix',
 'Turkish Van Mix',
 'Redbone Hound Mix',
 'Treeing Tennesse Brindle',
 'Bombay Mix',
 'St. Bernard Rough Coat Mix',
 'Redbone Hound',
 'Lowchen Mix',
 'Queensland Heeler',
 'Cocker Spaniel Mix',
 'Wire Hair Fox Terrier Mix',
 'Angora Mix',
 'Ibizan Hound',
 'Shih Tzu',
 'Cardigan Welsh Corgi',
 'Australian Shepherd',
 'English Shepherd',
 'Javanese Mix',
 'Doberman Pinsch Mix',
 'Yorkshire Terrier',
 'Pekingese',
 'Havana Brown Mix',
 'German Wirehaired Pointer Mix',
 'Old English Sheepdog',
 'Japanese Bobtail Mix',
 'Cane Corso',
 'Ragdoll',
 'Persian',
 'Collie Smooth Mix',
 'Staffordshire Mix',
 'Tan Hound',
 'Blue Lacy',
 'Basenji Mix',
 'Australian Terrier Mix',
 'Brittany Mix',
 'Anatol Shepherd',
 'Irish Wolfhound Mix',
 'Bull Terrier Mix',
 'Whippet Mix',
 'Japanese Bobtail',
 'American Shorthair Mix',
 'Canaan Dog Mix',
 'Siberian Husky Mix',
 'Rat Terrier',
 'Chesa Bay Retr',
 'Border Terrier Mix',
 'Bullmastiff',
 'Irish Setter',
 'Unknown',
 'Boxer Mix',
 'Himalayan',
 'Carolina Dog',
 'Whippet',
 'Black Mouth Cur',
 'Bengal Mix',
 'Treeing Cur Mix',
 'Havanese',
 'Rex',
 'English Coonhound',
 'German Shepherd',
 'Pomeranian Mix',
 'Patterdale Terr',
 'English Coonhound Mix',
 'Ocicat Mix',
 'French Bulldog Mix',
 'Cavalier Span',
 'Collie Smooth',
 'Bichon Frise Mix',
 'Domestic Medium Hair Mix',
 'Dalmatian',
 'Plott Hound Mix',
 'German Shorthair Pointer',
 'Russian Blue',
 'Great Pyrenees Mix',
 'Alaskan Malamute',
 'Munchkin Longhair Mix',
 'Wire Hair Fox Terrier',
 'Alaskan Malamute Mix',
 'Bruss Griffon Mix',
 'Rat Terrier Mix',
 'Pug Mix',
 'Affenpinscher',
 'Italian Greyhound Mix',
 'Toy Poodle Mix',
 'Tan Hound Mix',
 'Papillon Mix',
 'Japanese Chin',
 'English Pointer',
 'Harrier Mix',
 'Black Mouth Cur Mix',
 'Pointer',
 'Mexican Hairless Mix',
 'Bull Terrier',
 'Weimaraner Mix',
 'Cairn Terrier Mix',
 'Saluki Mix',
 'American Staffordshire Terrier Mix',
 'Chihuahua Longhair',
 'Beagle Mix',
 'Bulldog Mix',
 'Harrier',
 'Smooth Fox Terrier',
 'Swiss Hound',
 'English Springer Spaniel',
 'Bruss Griffon',
 'Basenji',
 'Belgian Malinois',
 'Black',
 'Boston Terrier Mix',
 'Belgian Sheepdog Mix',
 'Labrador Retriever',
 'Leonberger',
 'Russian Blue Mix',
 'Pit Bull',
 'Akita',
 'Alaskan Husky',
 'Port Water Dog Mix',
 'Parson Russell Terrier',
 'Welsh Terrier Mix',
 'Bichon Frise',
 'Toy Poodle',
 'Pixiebob Shorthair Mix',
 'Soft Coated Wheaten Terrier',
 'Great Dane Mix',
 'Nova Scotia Duck Tolling Retriever Mix',
 'English Cocker Spaniel',
 'Belgian Tervuren Mix',
 'Dachshund Wirehair Mix',
 'German Pinscher Mix',
 'Dachshund Longhair',
 'Vizsla',
 'Samoyed Mix',
 'Mastiff Mix',
 'Devon Rex',
 'Dutch Shepherd',
 'Soft Coated Wheaten Terrier Mix',
 'Welsh Springer Spaniel Mix',
 'Unknown Mix',
 'Kuvasz',
 'Bernese Mountain Dog',
 'German Pinscher',
 'Himalayan Mix',
 'English Cocker Spaniel Mix',
 'Airedale Terrier',
 'Italian Greyhound',
 'Dachshund Wirehair',
 'Schnauzer Giant',
 'American Eskimo Mix',
 'English Foxhound Mix',
 'Golden Retriever Mix',
 'Irish Terrier',
 'Australian Cattle Dog Mix',
 'Border Terrier',
 'Norfolk Terrier Mix',
 'Borzoi',
 'Neapolitan Mastiff',
 'Pharaoh Hound Mix',
 'Maine Coon Mix',
 'Silky Terrier Mix',
 'Otterhound Mix',
 'Tibetan Spaniel',
 'Lhasa Apso Mix',
 'Bernese Mountain Dog Mix',
 'Norwich Terrier Mix',
 'Hovawart Mix',
 'Belgian Tervuren',
 'Newfoundland',
 'Miniature Pinscher',
 'Manchester Terrier Mix',
 'American Pit Bull Terrier Mix',
 'Siamese',
 'Catahoula Mix',
 'Belgian Malinois Mix',
 'Pug',
 'Maltese Mix',
 'Papillon',
 'Chow Chow Mix',
 'Toy Fox Terrier Mix',
 'Weimaraner',
 'Ibizan Hound Mix',
 'Landseer Mix',
 'Miniature Schnauzer',
 'Finnish Spitz',
 'Pekingese Mix',
 'Boston Terrier',
 'Scottish Terrier',
 'Blue Lacy Mix',
 'Chinese Sharpei',
 'Saluki',
 'Shiba Inu',
 'Collie Rough',
 'Australian Kelpie',
 'Cymric Mix',
 'Pbgv',
 'Cocker Spaniel',
 'Finnish Spitz Mix',
 'German Wirehaired Pointer',
 'Boerboel',
 'Beagle',
 'Chihuahua Longhair Mix',
 'English Setter',
 'Presa Canario Mix',
 'Shetland Sheepdog Mix',
 'American Bulldog Mix',
 'Toy Fox Terrier',
 'Parson Russell Terrier Mix',
 'Standard Schnauzer Mix',
 'Chow Chow',
 'Bearded Collie Mix',
 'English Shepherd Mix',
 'Basset Hound Mix',
 'Yorkshire',
 'Norwegian Elkhound Mix',
 'Skye Terrier',
 'Labrador Retriever Mix',
 'Australian Kelpie Mix',
 'Balinese Mix',
 'Bluetick Hound Mix',
 'Sphynx',
 'Rottweiler',
 'Field Spaniel Mix',
 'Dogue De Bordeaux',
 'Belgian Sheepdog',
 'Maltese',
 'Shetland Sheepdog',
 'West Highland Mix',
 'Dachshund Mix',
 'English Bulldog Mix',
 'Glen Of Imaal',
 'Border Collie',
 'Chesa Bay Retr Mix',
 'Nova Scotia Duck Tolling Retriever',
 'Bloodhound',
 'Cavalier Span Mix',
 'Pomeranian',
 'Spanish Mastiff Mix',
 'Boerboel Mix',
 'Dogue De Bordeaux Mix',
 'Spinone Italiano Mix',
 'Bulldog',
 'Treeing Walker Coonhound Mix',
 'Collie Rough Mix',
 'Entlebucher Mix',
 'Standard Poodle',
 'Domestic Medium Hair',
 'Presa Canario',
 'Alaskan Husky Mix',
 'Wirehaired Pointing Griffon Mix',
 'Newfoundland Mix',
 'Boykin Span Mix',
 'Spanish Water Dog',
 'Staffordshire',
 'Cane Corso Mix',
 'Dachshund Longhair Mix',
 'Beauceron',
 'Affenpinscher Mix',
 'Boykin Span',
 'Chinese Crested Mix',
 'Canaan Dog',
 'Bedlington Terr Mix',
 'American Foxhound Mix',
 'Beauceron Mix',
 'Domestic Longhair',
 'Havanese Mix',
 'Boxer',
 'Tibetan Terrier Mix',
 'Chihuahua Shorthair Mix',
 'Australian Shepherd Mix',
 'Flat Coat Retriever Mix',
 'Tibetan Terrier',
 'Anatol Shepherd Mix',
 'Schnauzer Giant Mix',
 'Pointer Mix',
 'Snowshoe Mix',
 'Abyssinian Mix',
 'Old English Bulldog Mix',
 'Sealyham Terr Mix',
 'English Bulldog',
 'Domestic Longhair Mix',
 'American Eskimo',
 'Bull Terrier Miniature Mix',
 'Bloodhound Mix',
 'Brittany',
 'Standard Poodle Mix',
 'Swedish Vallhund Mix',
 'English Setter Mix',
 'Rhod Ridgeback',
 'Bengal',
 'Bluetick Hound',
 'American Pit Bull Terrier',
 'Smooth Fox Terrier Mix',
 'Pharaoh Hound',
 'Pit Bull Mix',
 'German Shorthair Pointer Mix',
 'Norfolk Terrier',
 'Basset Hound',
 'Patterdale Terr Mix',
 'Great Pyrenees',
 'Queensland Heeler Mix',
 'Leonberger Mix',
 'Akita Mix',
 'Miniature Poodle Mix',
 'Feist Mix',
 'Bull Terrier Miniature',
 'Doberman Pinsch',
 'American Staffordshire Terrier',
 'Glen Of Imaal Mix',
 'Shiba Inu Mix',
 'Tonkinese Mix',
 'Miniature Schnauzer Mix',
 'Afghan Hound Mix',
 'American Bulldog',
 'Border Collie Mix',
 'Dutch Shepherd Mix',
 'Irish Wolfhound',
 'English Pointer Mix',
 'Cairn Terrier',
 'British Shorthair',
 'Rottweiler Mix',
 'West Highland',
 'Manx',
 'English Foxhound',
 'Cornish Rex Mix',
 'Dachshund',
 'Schipperke Mix',
 'British Shorthair Mix',
 'Dogo Argentino Mix',
 'Persian Mix',
 'Standard Schnauzer',
 'Keeshond Mix',
 'Pembroke Welsh Corgi',
 'Lhasa Apso',
 'Miniature Poodle',
 'Treeing Walker Coonhound',
 'Catahoula',
 'Domestic Shorthair',
 'Tibetan Spaniel Mix',
 'Chihuahua Shorthair',
 'Airedale Terrier Mix',
 'Jindo Mix',
 'Devon Rex Mix',
 'Welsh Springer Spaniel',
 'Australian Cattle Dog',
 'English Springer Spaniel Mix',
 'Greater Swiss Mountain Dog Mix',
 'Norwegian Forest Cat Mix',
 'Carolina Dog Mix',
 'Chinese Crested',
 'Schipperke',
 'Burmese',
 'Mastiff']

In [84]:
simple_breeds = [breed for phrases in unique_breeds for breed in phrases.split()]
len(set((simple_breeds)))

262

In [86]:
simple_breeds = Counter(simple_breeds)
simple_breeds.most_common()

[('Mix', 213),
 ('Terrier', 51),
 ('English', 18),
 ('Hound', 16),
 ('Shorthair', 11),
 ('American', 11),
 ('Spaniel', 11),
 ('Dog', 11),
 ('Shepherd', 10),
 ('Bulldog', 9),
 ('German', 8),
 ('Welsh', 8),
 ('Miniature', 8),
 ('Retriever', 8),
 ('Pointer', 8),
 ('Bull', 8),
 ('Australian', 7),
 ('Collie', 7),
 ('Longhair', 7),
 ('Smooth', 6),
 ('Coat', 6),
 ('Domestic', 6),
 ('Sheepdog', 6),
 ('Fox', 6),
 ('Poodle', 6),
 ('Belgian', 6),
 ('Dachshund', 6),
 ('Schnauzer', 6),
 ('Mastiff', 5),
 ('Irish', 5),
 ('Russell', 4),
 ('Corgi', 4),
 ('Greyhound', 4),
 ('St.', 4),
 ('Bernard', 4),
 ('Pinscher', 4),
 ('Chinese', 4),
 ('Foxhound', 4),
 ('Great', 4),
 ('Japanese', 4),
 ('Rough', 4),
 ('Husky', 4),
 ('Treeing', 4),
 ('Cocker', 4),
 ('Hair', 4),
 ('Staffordshire', 4),
 ('Blue', 4),
 ('Border', 4),
 ('Rex', 4),
 ('Coonhound', 4),
 ('Terr', 4),
 ('Span', 4),
 ('Alaskan', 4),
 ('Toy', 4),
 ('Chihuahua', 4),
 ('Springer', 4),
 ('Pit', 4),
 ('Tibetan', 4),
 ('Chow', 4),
 ('Standard', 4),
 ('Yorkshire', 3),
 ('Wirehaired', 3),
 ('Setter', 3),
 ('Black', 3),
 ('Cur', 3),
 ('Griffon', 3),
 ('Mountain', 3),
 ('Manchester', 2),
 ('Jack', 2),
 ('Scottish', 2),
 ('French', 2),
 ('Pembroke', 2),
 ('Swedish', 2),
 ('Vallhund', 2),
 ('Silky', 2),
 ('Neapolitan', 2),
 ('Pbgv', 2),
 ('Siamese', 2),
 ('Cardigan', 2),
 ('Ragdoll', 2),
 ('Bullmastiff', 2),
 ('Sharpei', 2),
 ('Dalmatian', 2),
 ('Norwich', 2),
 ('Manx', 2),
 ('Vizsla', 2),
 ('Flat', 2),
 ('Dane', 2),
 ('Maine', 2),
 ('Coon', 2),
 ('Chin', 2),
 ('Rhod', 2),
 ('Ridgeback', 2),
 ('Snowshoe', 2),
 ('Siberian', 2),
 ('Golden', 2),
 ('Shih', 2),
 ('Tzu', 2),
 ('Keeshond', 2),
 ('Dogo', 2),
 ('Argentino', 2),
 ('Plott', 2),
 ('Skye', 2),
 ('Redbone', 2),
 ('Queensland', 2),
 ('Heeler', 2),
 ('Wire', 2),
 ('Ibizan', 2),
 ('Doberman', 2),
 ('Pinsch', 2),
 ('Pekingese', 2),
 ('Old', 2),
 ('Bobtail', 2),
 ('Cane', 2),
 ('Corso', 2),
 ('Persian', 2),
 ('Tan', 2),
 ('Lacy', 2),
 ('Basenji', 2),
 ('Brittany', 2),
 ('Anatol', 2),
 ('Wolfhound', 2),
 ('Whippet', 2),
 ('Canaan', 2),
 ('Rat', 2),
 ('Chesa', 2),
 ('Bay', 2),
 ('Retr', 2),
 ('Unknown', 2),
 ('Boxer', 2),
 ('Himalayan', 2),
 ('Carolina', 2),
 ('Mouth', 2),
 ('Bengal', 2),
 ('Havanese', 2),
 ('Pomeranian', 2),
 ('Patterdale', 2),
 ('Cavalier', 2),
 ('Bichon', 2),
 ('Frise', 2),
 ('Medium', 2),
 ('Russian', 2),
 ('Pyrenees', 2),
 ('Malamute', 2),
 ('Bruss', 2),
 ('Pug', 2),
 ('Affenpinscher', 2),
 ('Italian', 2),
 ('Papillon', 2),
 ('Harrier', 2),
 ('Weimaraner', 2),
 ('Cairn', 2),
 ('Saluki', 2),
 ('Beagle', 2),
 ('Swiss', 2),
 ('Malinois', 2),
 ('Boston', 2),
 ('Labrador', 2),
 ('Leonberger', 2),
 ('Akita', 2),
 ('Water', 2),
 ('Parson', 2),
 ('Soft', 2),
 ('Coated', 2),
 ('Wheaten', 2),
 ('Nova', 2),
 ('Scotia', 2),
 ('Duck', 2),
 ('Tolling', 2),
 ('Tervuren', 2),
 ('Wirehair', 2),
 ('Devon', 2),
 ('Dutch', 2),
 ('Bernese', 2),
 ('Airedale', 2),
 ('Giant', 2),
 ('Eskimo', 2),
 ('Cattle', 2),
 ('Norfolk', 2),
 ('Pharaoh', 2),
 ('Lhasa', 2),
 ('Apso', 2),
 ('Newfoundland', 2),
 ('Catahoula', 2),
 ('Maltese', 2),
 ('Finnish', 2),
 ('Spitz', 2),
 ('Shiba', 2),
 ('Inu', 2),
 ('Kelpie', 2),
 ('Boerboel', 2),
 ('Presa', 2),
 ('Canario', 2),
 ('Shetland', 2),
 ('Basset', 2),
 ('Norwegian', 2),
 ('Bluetick', 2),
 ('Rottweiler', 2),
 ('Dogue', 2),
 ('De', 2),
 ('Bordeaux', 2),
 ('West', 2),
 ('Highland', 2),
 ('Glen', 2),
 ('Of', 2),
 ('Imaal', 2),
 ('Bloodhound', 2),
 ('Spanish', 2),
 ('Walker', 2),
 ('Boykin', 2),
 ('Beauceron', 2),
 ('Crested', 2),
 ('British', 2),
 ('Schipperke', 2),
 ('Podengo', 1),
 ('Pequeno', 1),
 ('Picardy', 1),
 ('Exotic', 1),
 ('Turkish', 1),
 ('Van', 1),
 ('Tennesse', 1),
 ('Brindle', 1),
 ('Bombay', 1),
 ('Lowchen', 1),
 ('Angora', 1),
 ('Javanese', 1),
 ('Havana', 1),
 ('Brown', 1),
 ('Ocicat', 1),
 ('Munchkin', 1),
 ('Mexican', 1),
 ('Hairless', 1),
 ('Port', 1),
 ('Pixiebob', 1),
 ('Samoyed', 1),
 ('Kuvasz', 1),
 ('Borzoi', 1),
 ('Otterhound', 1),
 ('Hovawart', 1),
 ('Landseer', 1),
 ('Cymric', 1),
 ('Bearded', 1),
 ('Elkhound', 1),
 ('Balinese', 1),
 ('Sphynx', 1),
 ('Field', 1),
 ('Spinone', 1),
 ('Italiano', 1),
 ('Entlebucher', 1),
 ('Pointing', 1),
 ('Bedlington', 1),
 ('Abyssinian', 1),
 ('Sealyham', 1),
 ('Feist', 1),
 ('Tonkinese', 1),
 ('Afghan', 1),
 ('Cornish', 1),
 ('Jindo', 1),
 ('Greater', 1),
 ('Forest', 1),
 ('Cat', 1),
 ('Burmese', 1)]

In [87]:
simple_breeds = list(set(simple_breeds))
len(simple_breeds)

262

In [88]:
animals.shape

(25248, 61)

Below I essentially try to find the most important breed in a pretty hacky way...

In [156]:
breed_imp = animals[['adopted', 'breed']]
breed_imp

       adopted                                  breed
0            0                  Shetland Sheepdog Mix
1            0                 Domestic Shorthair Mix
2            1                           Pit Bull Mix
3            0                 Domestic Shorthair Mix
4            0            Lhasa Apso/Miniature Poodle
5            0      Cairn Terrier/Chihuahua Shorthair
6            0                 Domestic Shorthair Mix
7            1          American Pit Bull Terrier Mix
8            1                          Cairn Terrier
9            1                Miniature Schnauzer Mix
10           1                           Pit Bull Mix
11           0                  Yorkshire Terrier Mix
12           0                     Great Pyrenees Mix
13           1                 Domestic Shorthair Mix
14           0                 Domestic Shorthair Mix
15           0                           Pit Bull Mix
16           0                             Angora Mix
17           0                Flat Coat Retriever Mix
18           0                  Queensland Heeler Mix
19           0                 Domestic Shorthair Mix
20           1                      Plott Hound/Boxer
21           1                    German Shepherd Mix
22           0                    German Shepherd Mix
23           0                 Domestic Shorthair Mix
24           1     American Staffordshire Terrier Mix
25           1                Chihuahua Shorthair Mix
26           1                 Domestic Shorthair Mix
27           0                       Russian Blue Mix
28           0                 Domestic Shorthair Mix
29           0                 Labrador Retriever Mix
...        ...                                    ...
25218        1              Australian Cattle Dog Mix
25219        0                   Golden Retriever Mix
25220        0                           Snowshoe Mix
25221        0          American Pit Bull Terrier Mix
25222        0         Great Pyrenees/Anatol Shepherd
25223        0               Jack Russell Terrier Mix
25224        0                            Siamese Mix
25225        0                  Domestic Longhair Mix
25226        0                 Domestic Shorthair Mix
25227        0                 Domestic Shorthair Mix
25228        1                 Domestic Shorthair Mix
25229        0                Chihuahua Shorthair Mix
25230        0  Chihuahua Shorthair/Yorkshire Terrier
25231        0               Cocker Spaniel/Dachshund
25232        0                            Rat Terrier
25233        0                  Domestic Longhair Mix
25234        1                 Domestic Shorthair Mix
25235        1                            Pointer Mix
25236        1                       Newfoundland Mix
25237        0                        Bullmastiff Mix
25238        1         Siberian Husky/German Shepherd
25239        1                 Domestic Shorthair Mix
25240        1                 Domestic Shorthair Mix
25241        0                 Domestic Shorthair Mix
25242        1                      Staffordshire Mix
25243        0                 Domestic Shorthair Mix
25244        0                 Domestic Shorthair Mix
25245        1                Old English Bulldog Mix
25246        0                 Domestic Shorthair Mix
25247        0                 Domestic Shorthair Mix

[25248 rows x 2 columns]

In [157]:
for breed in simple_breeds:
    breed_imp[breed] = animals.breed.map(lambda row: 1 if breed in row else 0)

/Users/VanessaG/anaconda3/envs/stats/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [158]:
breed_imp.columns

Index(['adopted', 'breed', 'Havanese', 'French', 'Vallhund', 'Rex', 'De',
       'Bobtail', 'Borzoi', 'Bull',
       ...
       'Silky', 'Himalayan', 'St.', 'Boxer', 'Mastiff', 'Whippet', 'Chinese',
       'Tennesse', 'Retriever', 'Labrador'],
      dtype='object', length=264)

In [159]:
breed_imp.head()

,adopted,breed,Havanese,French,Vallhund,Rex,De,Bobtail,Borzoi,Bull,...,Silky,Himalayan,St.,Boxer,Mastiff,Whippet,Chinese,Tennesse,Retriever,Labrador
0,0,Shetland Sheepdog Mix,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,Domestic Shorthair Mix,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,Pit Bull Mix,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,Domestic Shorthair Mix,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,Lhasa Apso/Miniature Poodle,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [160]:
breed_imp.describe()

,adopted,Havanese,French,Vallhund,Rex,De,Bobtail,Borzoi,Bull,Glen,...,Silky,Himalayan,St.,Boxer,Mastiff,Whippet,Chinese,Tennesse,Retriever,Labrador
count,25248.000000,25248.000000,25248.000000,25248.000000,25248.000000,25248.000000,25248.000000,25248.000000,25248.00000,25248.000000,...,25248.000000,25248.000000,25248.000000,25248.000000,25248.000000,25248.000000,25248.000000,25248.000000,25248.000000,25248.000000
mean,0.425063,0.000634,0.000554,0.000277,0.000158,0.000317,0.000317,0.000040,0.10381,0.000158,...,0.000317,0.000673,0.000911,0.016714,0.002297,0.001862,0.003802,0.000040,0.094542,0.087928
std,0.494362,0.025166,0.023542,0.016649,0.012586,0.017798,0.017798,0.006293,0.30502,0.012586,...,0.017798,0.025940,0.030169,0.128201,0.047875,0.043106,0.061547,0.006293,0.292587,0.283195
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [164]:
cols = [col for col in breed_imp.columns if col not in ['adopted','breed']]
means = []
for col in cols:
    means.append(breed_imp[col].mean())

means
columns = [col for col in breed_imp.columns]
sorted(list(zip(means, columns)), reverse=True)

[(0.82782794676806082, 'Russell'),
 (0.40830956907477822, 'Cymric'),
 (0.36715779467680609, 'Shetland'),
 (0.10381020278833968, 'Bobtail'),
 (0.10000792141951838, 'Beauceron'),
 (0.095057034220532313, 'Poodle'),
 (0.094542141951837771, 'Chinese'),
 (0.092997465145754118, 'Pekingese'),
 (0.087927756653992398, 'Tennesse'),
 (0.063648605830164767, 'Havana'),
 (0.063252534854245882, 'Tolling'),
 (0.054024081115335867, 'English'),
 (0.040478453738910014, 'Unknown'),
 (0.039052598225602031, 'Tonkinese'),
 (0.035369138149556403, 'Bay'),
 (0.03382446134347275, 'Shepherd'),
 (0.032873891001267426, 'Cattle'),
 (0.030537072243346008, 'Angora'),
 (0.029784537389100127, 'Van'),
 (0.029507287705956908, 'Boykin'),
 (0.028517110266159697, 'Highland'),
 (0.024992078580481622, 'Coated'),
 (0.020080798479087454, 'Queensland'),
 (0.019605513307984792, 'Medium'),
 (0.019367870722433459, 'Treeing'),
 (0.016714195183776932, 'Himalayan'),
 (0.016040874524714827, 'Brindle'),
 (0.015050697084917616, 'Corgi'),
 (0.012317807351077313, 'Chesa'),
 (0.012040557667934094, 'Foxhound'),
 (0.011723700887198986, 'Greyhound'),
 (0.011327629911280102, 'Norwich'),
 (0.010693916349809885, 'Landseer'),
 (0.010535487959442333, 'Retr'),
 (0.010495880861850444, 'Toy'),
 (0.010020595690747782, 'Malinois'),
 (0.0098225602027883392, 'Maine'),
 (0.0096641318124207863, 'Australian'),
 (0.0093076679340937888, 'Pyrenees'),
 (0.0091888466413181241, 'Apso'),
 (0.0090304182509505695, 'Presa'),
 (0.0086343472750316855, 'Leonberger'),
 (0.0081194550063371351, 'Dachshund'),
 (0.0076045627376425855, 'Persian'),
 (0.0070500633713561469, 'Hovawart'),
 (0.0070500633713561469, 'Field'),
 (0.0069708491761723704, 'Heeler'),
 (0.0068916349809885931, 'Pointer'),
 (0.0066935994930291511, 'Beagle'),
 (0.0065747782002534855, 'Schipperke'),
 (0.0059410646387832696, 'Terr'),
 (0.0057826362484157158, 'Nova'),
 (0.0057826362484157158, 'Irish'),
 (0.0055846007604562738, 'Norfolk'),
 (0.0052677439797211663, 'Podengo'),
 (0.0051489226869455007, 'Siberian'),
 (0.0049904942965779469, 'Skye'),
 (0.0049904942965779469, 'Brown'),
 (0.0049508871989860587, 'German'),
 (0.0048320659062103932, 'Manx'),
 (0.0047924588086185041, 'Coonhound'),
 (0.0045548162230671738, 'Boston'),
 (0.0045152091254752847, 'Hairless'),
 (0.0042379594423320663, 'Golden'),
 (0.004158745247148289, 'Cardigan'),
 (0.0040399239543726234, 'Neapolitan'),
 (0.0040003168567807352, 'Spinone'),
 (0.003960709759188847, 'Malamute'),
 (0.0039211026615969579, 'Turkish'),
 (0.0038418884664131814, 'Manchester'),
 (0.0038022813688212928, 'Mastiff'),
 (0.0036834600760456272, 'Cornish'),
 (0.0036042458808618503, 'Griffon'),
 (0.0033666032953105197, 'Exotic'),
 (0.0030497465145754121, 'Wirehaired'),
 (0.0029309252217997466, 'Terrier'),
 (0.0029309252217997466, 'Scottish'),
 (0.0028913181242078579, 'Rhod'),
 (0.0028913181242078579, 'Hair'),
 (0.0028913181242078579, 'Feist'),
 (0.0028913181242078579, 'Bullmastiff'),
 (0.0028913181242078579, 'Boerboel'),
 (0.0028517110266159697, 'Munchkin'),
 (0.0027724968314321928, 'Chow'),
 (0.0026932826362484159, 'Wirehair'),
 (0.0025744613434727504, 'Bulldog'),
 (0.0023764258555133079, 'Sharpei'),
 (0.0023368187579214197, 'Dutch'),
 (0.002297211660329531, 'St.'),
 (0.0022179974651457541, 'Cur'),
 (0.0020991761723700886, 'Husky'),
 (0.0020595690747782004, 'Norwegian'),
 (0.0020595690747782004, 'Canario'),
 (0.0020199619771863117, 'Jindo'),
 (0.0019803548795944235, 'Shih'),
 (0.0019803548795944235, 'Parson'),
 (0.0019011406844106464, 'Coat'),
 (0.0018615335868187579, 'Boxer'),
 (0.0018615335868187579, 'Blue'),
 (0.001782319391634981, 'Corso'),
 (0.0017031051964512042, 'Samoyed'),
 (0.0016634980988593155, 'Standard'),
 (0.0016634980988593155, 'Sphynx'),
 (0.0015842839036755386, 'Burmese'),
 (0.0015050697084917617, 'Weimaraner'),
 (0.0013466413181242079, 'Sheepdog'),
 (0.0013466413181242079, 'Of'),
 (0.0013466413181242079, 'Dalmatian'),
 (0.0012278200253485424, 'Otterhound'),
 (0.0012278200253485424, 'Kelpie'),
 (0.0012278200253485424, 'Greater'),
 (0.0012278200253485424, 'Collie'),
 (0.001188212927756654, 'Shorthair'),
 (0.001188212927756654, 'Bernard'),
 (0.0011486058301647655, 'Springer'),
 (0.0011486058301647655, 'Spaniel'),
 (0.0011486058301647655, 'Catahoula'),
 (0.0010693916349809886, 'Rough'),
 (0.0010693916349809886, 'Coon'),
 (0.0010297845373891002, 'Ocicat'),
 (0.00099017743979721174, 'Ragdoll'),
 (0.00095057034220532319, 'Yorkshire'),
 (0.00095057034220532319, 'Wheaten'),
 (0.00095057034220532319, 'Pomeranian'),
 (0.00091096324461343474, 'Silky'),
 (0.00091096324461343474, 'Russian'),
 (0.00091096324461343474, 'Ibizan'),
 (0.0008713561470215463, 'Doberman'),
 (0.0008713561470215463, 'Alaskan'),
 (0.00083174904942965775, 'Sealyham'),
 (0.00083174904942965775, 'Mouth'),
 (0.00079214195183776931, 'Italiano'),
 (0.00079214195183776931, 'Bichon'),
 (0.00075253485424588086, 'Tzu'),
 (0.00071292775665399242, 'Tervuren'),
 (0.00071292775665399242, 'Span'),
 (0.00067332065906210397, 'Swedish'),
 (0.00067332065906210397, 'Redbone'),
 (0.00067332065906210397, 'Brittany'),
 (0.00067332065906210397, 'Black'),
 (0.00063371356147021542, 'adopted'),
 (0.00063371356147021542, 'Belgian'),
 (0.00059410646387832698, 'Siamese'),
 (0.00059410646387832698, 'Devon'),
 (0.00059410646387832698, 'British'),
 (0.00059410646387832698, 'Airedale'),
 (0.00055449936628643854, 'breed'),
 (0.00055449936628643854, 'Pug'),
 (0.00055449936628643854, 'Inu'),
 (0.00055449936628643854, 'Frise'),
 (0.00055449936628643854, 'Chihuahua'),
 (0.00055449936628643854, 'Cavalier'),
 (0.00055449936628643854, 'Carolina'),
 (0.00055449936628643854, 'Border'),
 (0.00051489226869455009, 'Pequeno'),
 (0.00047528517110266159, 'Scotia'),
 (0.00047528517110266159, 'Pixiebob'),
 (0.00047528517110266159, 'Pit'),
 (0.00047528517110266159, 'Jack'),
 (0.00047528517110266159, 'Entlebucher'),
 (0.00043567807351077315, 'Pbgv'),
 (0.00043567807351077315, 'Patterdale'),
 (0.00043567807351077315, 'Dogue'),
 (0.00039607097591888465, 'Snowshoe'),
 (0.00039607097591888465, 'Miniature'),
 (0.00039607097591888465, 'Basenji'),
 (0.00035646387832699621, 'Spitz'),
 (0.00035646387832699621, 'Rat'),
 (0.00035646387832699621, 'Bull'),
 (0.00031685678073510771, 'Vallhund'),
 (0.00031685678073510771, 'Rex'),
 (0.00031685678073510771, 'Pinsch'),
 (0.00031685678073510771, 'Mountain'),
 (0.00031685678073510771, 'Javanese'),
 (0.00031685678073510771, 'Elkhound'),
 (0.00031685678073510771, 'Duck'),
 (0.00027724968314321927, 'Walker'),
 (0.00027724968314321927, 'Tibetan'),
 (0.00027724968314321927, 'Ridgeback'),
 (0.00027724968314321927, 'Plott'),
 (0.00027724968314321927, 'Havanese'),
 (0.00027724968314321927, 'American'),
 (0.0002376425855513308, 'West'),
 (0.0002376425855513308, 'Schnauzer'),
 (0.0002376425855513308, 'Saluki'),
 (0.0002376425855513308, 'Lacy'),
 (0.0002376425855513308, 'Great'),
 (0.0002376425855513308, 'Giant'),
 (0.0002376425855513308, 'Eskimo'),
 (0.0002376425855513308, 'Cat'),
 (0.00019803548795944233, 'Wire'),
 (0.00019803548795944233, 'Water'),
 (0.00019803548795944233, 'Staffordshire'),
 (0.00019803548795944233, 'Smooth'),
 (0.00019803548795944233, 'Rottweiler'),
 (0.00019803548795944233, 'Papillon'),
 (0.00019803548795944233, 'Newfoundland'),
 (0.00019803548795944233, 'Longhair'),
 (0.00019803548795944233, 'Keeshond'),
 (0.00019803548795944233, 'Forest'),
 (0.00019803548795944233, 'Cane'),
 (0.00019803548795944233, 'Cairn'),
 (0.00019803548795944233, 'Bordeaux'),
 (0.00019803548795944233, 'Argentino'),
 (0.00019803548795944233, 'Affenpinscher'),
 (0.00015842839036755386, 'Spanish'),
 (0.00015842839036755386, 'Pinscher'),
 (0.00015842839036755386, 'Old'),
 (0.00015842839036755386, 'Harrier'),
 (0.00015842839036755386, 'French'),
 (0.00015842839036755386, 'Dane'),
 (0.00015842839036755386, 'Borzoi'),
 (0.00015842839036755386, 'Basset'),
 (0.00015842839036755386, 'Afghan'),
 (0.0001188212927756654, 'Swiss'),
 (0.0001188212927756654, 'Kuvasz'),
 (0.0001188212927756654, 'Japanese'),
 (0.0001188212927756654, 'Glen'),
 (0.0001188212927756654, 'Domestic'),
 (0.0001188212927756654, 'Bluetick'),
 (0.0001188212927756654, 'Bloodhound'),
 (0.0001188212927756654, 'Bernese'),
 (0.0001188212927756654, 'Bedlington'),
 (0.0001188212927756654, 'Abyssinian'),
 (7.9214195183776928e-05, 'Soft'),
 (7.9214195183776928e-05, 'Shiba'),
 (7.9214195183776928e-05, 'Mix'),
 (7.9214195183776928e-05, 'Mexican'),
 (7.9214195183776928e-05, 'Maltese'),
 (7.9214195183776928e-05, 'Lowchen'),
 (7.9214195183776928e-05, 'Lhasa'),
 (7.9214195183776928e-05, 'Italian'),
 (7.9214195183776928e-05, 'Imaal'),
 (7.9214195183776928e-05, 'Fox'),
 (7.9214195183776928e-05, 'Dogo'),
 (7.9214195183776928e-05, 'Dog'),
 (7.9214195183776928e-05, 'Bombay'),
 (7.9214195183776928e-05, 'Balinese'),
 (7.9214195183776928e-05, 'Anatol'),
 (7.9214195183776928e-05, 'Akita'),
 (3.9607097591888464e-05, 'Wolfhound'),
 (3.9607097591888464e-05, 'Whippet'),
 (3.9607097591888464e-05, 'Welsh'),
 (3.9607097591888464e-05, 'Vizsla'),
 (3.9607097591888464e-05, 'Tan'),
 (3.9607097591888464e-05, 'Setter'),
 (3.9607097591888464e-05, 'Port'),
 (3.9607097591888464e-05, 'Pointing'),
 (3.9607097591888464e-05, 'Picardy'),
 (3.9607097591888464e-05, 'Pharaoh'),
 (3.9607097591888464e-05, 'Pembroke'),
 (3.9607097591888464e-05, 'Hound'),
 (3.9607097591888464e-05, 'Flat'),
 (3.9607097591888464e-05, 'Finnish'),
 (3.9607097591888464e-05, 'De'),
 (3.9607097591888464e-05, 'Crested'),
 (3.9607097591888464e-05, 'Cocker'),
 (3.9607097591888464e-05, 'Chin'),
 (3.9607097591888464e-05, 'Canaan'),
 (3.9607097591888464e-05, 'Bruss'),
 (3.9607097591888464e-05, 'Bengal'),
 (3.9607097591888464e-05, 'Bearded')]

In [165]:
breed_imp.corr()

,adopted,Havanese,French,Vallhund,Rex,De,Bobtail,Borzoi,Bull,Glen,...,Silky,Himalayan,St.,Boxer,Mastiff,Whippet,Chinese,Tennesse,Retriever,Labrador
adopted,1.000000,0.000634,0.000167,0.014555,-0.010824,-0.010806,0.002699,0.007319,-0.074623,0.008274,...,-0.006305,-0.000698,-0.015341,0.006639,0.000580,0.009334,0.001554,0.007319,0.023105,0.024432
Havanese,0.000634,1.000000,-0.000593,-0.000419,-0.000317,-0.000448,-0.000448,-0.000158,-0.008570,-0.000317,...,-0.000448,-0.000654,-0.000760,-0.003283,-0.001208,-0.001087,-0.001556,-0.000158,-0.008137,-0.007819
French,0.000167,-0.000593,1.000000,-0.000392,-0.000296,-0.000419,-0.000419,-0.000148,0.069207,-0.000296,...,-0.000419,-0.000611,-0.000711,-0.003071,-0.001130,-0.001017,-0.001455,-0.000148,-0.007611,-0.007313
Vallhund,0.014555,-0.000419,-0.000392,1.000000,-0.000210,-0.000296,-0.000296,-0.000105,-0.005668,-0.000210,...,-0.000296,-0.000432,-0.000503,-0.002171,-0.000799,-0.000719,-0.001029,-0.000105,-0.005381,-0.005171
Rex,-0.010824,-0.000317,-0.000296,-0.000210,1.000000,0.353413,-0.000224,-0.000079,-0.004284,-0.000158,...,-0.000224,-0.000327,-0.000380,-0.001641,-0.000604,-0.000544,-0.000778,-0.000079,-0.004068,-0.003908
De,-0.010806,-0.000448,-0.000419,-0.000296,0.353413,1.000000,-0.000317,-0.000112,0.008533,-0.000224,...,-0.000317,-0.000462,-0.000538,-0.002321,-0.000854,-0.000769,-0.001100,-0.000112,-0.005753,-0.005528
Bobtail,0.002699,-0.000448,-0.000419,-0.000296,-0.000224,-0.000317,1.000000,-0.000112,-0.006059,-0.000224,...,-0.000317,-0.000462,-0.000538,-0.002321,-0.000854,-0.000769,-0.001100,-0.000112,-0.005753,-0.005528
Borzoi,0.007319,-0.000158,-0.000148,-0.000105,-0.000079,-0.000112,-0.000112,1.000000,-0.002142,-0.000079,...,-0.000112,-0.000163,-0.000190,-0.000821,-0.000302,0.145732,-0.000389,-0.000040,-0.002034,-0.001954
Bull,-0.074623,-0.008570,0.069207,-0.005668,-0.004284,0.008533,-0.006059,-0.002142,1.000000,-0.004284,...,-0.006059,-0.008834,-0.005973,0.004246,-0.000057,-0.014698,0.010622,-0.002142,-0.055830,-0.052025
Glen,0.008274,-0.000317,-0.000296,-0.000210,-0.000158,-0.000224,-0.000224,-0.000079,-0.004284,1.000000,...,-0.000224,-0.000327,-0.000380,-0.001641,-0.000604,-0.000544,-0.000778,-0.000079,-0.004068,-0.003908
Bernese,-0.003504,-0.000476,-0.000445,-0.000314,-0.000238,-0.000336,-0.000336,-0.000119,-0.006427,-0.000238,...,-0.000336,-0.000490,-0.000570,-0.002462,-0.000906,-0.000816,-0.001167,-0.000119,-0.006102,-0.005863
Pixiebob,0.012678,-0.000275,-0.000257,-0.000182,-0.000137,-0.000194,-0.000194,-0.000069,-0.003710,-0.000137,...,-0.000194,-0.000283,-0.000329,-0.001421,-0.000523,-0.000471,-0.000673,-0.000069,-0.003523,-0.003385
Bedlington,0.005328,-0.000275,-0.000257,-0.000182,-0.000137,-0.000194,-0.000194,-0.000069,-0.003710,-0.000137,...,-0.000194,-0.000283,-0.000329,-0.001421,-0.000523,-0.000471,-0.000673,-0.000069,-0.003523,-0.003385
Pharaoh,0.006981,-0.000549,-0.000514,-0.000363,-0.000274,-0.000388,-0.000388,-0.000137,-0.007422,-0.000274,...,-0.000388,-0.000566,-0.000658,-0.002843,-0.001046,-0.000942,-0.001347,-0.000137,-0.007046,-0.006771
Water,0.012678,-0.000275,-0.000257,-0.000182,-0.000137,-0.000194,-0.000194,-0.000069,-0.003710,-0.000137,...,-0.000194,-0.000283,-0.000329,-0.001421,-0.000523,-0.000471,-0.000673,-0.000069,0.008897,0.009447
Spinone,-0.005411,-0.000158,-0.000148,-0.000105,-0.000079,-0.000112,-0.000112,-0.000040,-0.002142,-0.000079,...,-0.000112,-0.000163,-0.000190,-0.000821,-0.000302,-0.000272,-0.000389,-0.000040,-0.002034,-0.001954
Scotia,-0.000714,-0.000354,-0.000332,-0.000234,-0.000177,-0.000251,-0.000251,-0.000089,-0.004790,-0.000177,...,-0.000251,-0.000365,-0.000425,-0.001835,-0.000675,-0.000608,-0.000869,-0.000089,0.043555,-0.004370
Cur,0.017857,-0.001596,-0.001493,-0.001055,-0.000798,-0.001128,-0.001128,-0.000399,-0.019512,-0.000798,...,-0.001128,-0.001645,-0.001914,0.011316,0.010066,-0.002737,-0.003915,-0.000399,-0.009755,-0.008599
Tibetan,-0.000370,-0.000549,-0.000514,-0.000363,-0.000274,-0.000388,-0.000388,-0.000137,-0.007422,-0.000274,...,-0.000388,-0.000566,-0.000658,-0.002843,-0.001046,-0.000942,-0.001347,-0.000137,-0.007046,-0.006771
Fox,0.017365,-0.001187,-0.001111,-0.000785,-0.000593,-0.000839,-0.000839,-0.000297,-0.013286,-0.000593,...,-0.000839,-0.001224,-0.001424,-0.006147,-0.002262,-0.002036,-0.002913,-0.000297,-0.012357,-0.011666
Wirehaired,-0.009507,-0.000419,-0.000392,-0.000277,-0.000210,-0.000296,-0.000296,-0.000105,-0.005668,-0.000210,...,-0.000296,-0.000432,-0.000503,-0.002171,-0.000799,-0.000719,-0.001029,-0.000105,-0.005381,-0.005171
Turkish,0.010351,-0.000224,-0.000210,-0.000148,-0.000112,-0.000158,-0.000158,-0.000056,-0.003029,-0.000112,...,-0.000158,-0.000231,-0.000269,-0.001160,-0.000427,-0.000384,-0.000550,-0.000056,-0.002876,-0.002764
Doberman,-0.009779,-0.001393,-0.001303,-0.000921,-0.000696,-0.000985,-0.000985,-0.000348,-0.014114,-0.000696,...,-0.000985,-0.001436,-0.001670,-0.007211,-0.002654,-0.002389,-0.003417,-0.000348,-0.000687,0.000582
Chin,-0.000104,-0.001580,-0.001478,-0.001045,-0.000790,-0.001117,-0.001117,-0.000395,0.009813,-0.000790,...,-0.001117,-0.001629,-0.001895,0.001707,0.089655,-0.002710,0.984673,-0.000395,0.005719,0.007374
Frise,0.001761,-0.000744,-0.000696,-0.000492,-0.000372,-0.000526,-0.000526,-0.000186,-0.010051,-0.000372,...,-0.000526,-0.000767,-0.000892,-0.003850,-0.001417,-0.001275,-0.001824,-0.000186,-0.009543,-0.009169
Mexican,0.007319,-0.000158,-0.000148,-0.000105,-0.000079,-0.000112,-0.000112,-0.000040,-0.002142,-0.000079,...,-0.000112,-0.000163,-0.000190,-0.000821,-0.000302,-0.000272,-0.000389,-0.000040,-0.002034,-0.001954
Newfoundland,0.006974,-0.000593,-0.000555,-0.000392,-0.000296,-0.000419,-0.000419,-0.000148,-0.008017,-0.000296,...,-0.000419,-0.000611,-0.000711,-0.003071,-0.001130,-0.001017,-0.001455,-0.000148,0.015390,0.016451
Field,0.001349,-0.000224,-0.000210,-0.000148,-0.000112,-0.000158,-0.000158,-0.000056,-0.003029,-0.000112,...,-0.000158,-0.000231,-0.000269,-0.001160,-0.000427,-0.000384,-0.000550,-0.000056,-0.002876,-0.002764
Crested,-0.006407,-0.000354,-0.000332,-0.000234,-0.000177,-0.000251,-0.000251,-0.000089,-0.004790,-0.000177,...,-0.000251,-0.000365,-0.000425,-0.001835,-0.000675,-0.000608,0.227806,-0.000089,-0.004548,-0.004370
Shih,-0.051385,0.054310,-0.001985,-0.001403,-0.001061,-0.001500,-0.001500,-0.000530,-0.028678,-0.001061,...,-0.001500,-0.002187,-0.002544,-0.010986,-0.004043,-0.003639,-0.005206,-0.000530,-0.027228,-0.026163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Chesa,0.003570,-0.000593,-0.000555,-0.000392,-0.000296,-0.000419,-0.000419,-0.000148,-0.008017,-0.000296,...,-0.000419,-0.000611,-0.000711,-0.003071,-0.001130,-0.001017,-0.001455,-0.000148,-0.001861,-0.001372
Dogue,-0.008059,-0.000388,-0.000363,-0.000257,-0.000194,0.865991,-0.000274,-0.000097,0.011602,-0.000194,...,-0.000274,-0.000400,-0.000466,-0.002010,-0.000740,-0.000666,-0.000952,-0.000097,-0.004982,-0.004787
Hound,0.002764,-0.002812,-0.002630,-0.001860,-0.001406,-0.001988,-0.001988,-0.000703,-0.022704,0.027125,...,-0.001988,-0.002899,-0.003372,-0.006157,-0.005359,-0.004823,-0.001065,-0.000703,0.019143,0.022386
Bullmastiff,-0.002594,-0.000526,-0.000492,-0.000348,-0.000263,-0.000372,-0.000372,-0.000131,0.061342,-0.000263,...,-0.000372,-0.000542,-0.000630,0.012083,-0.001002,-0.000902,-0.001290,-0.000131,-0.006746,-0.006482
Kuvasz,-0.005411,-0.000158,-0.000148,-0.000105,-0.000079,-0.000112,-0.000112,-0.000040,-0.002142,-0.000079,...,-0.000112,-0.000163,-0.000190,-0.000821,-0.000302,-0.000272,-0.000389,-0.000040,0.019477,0.020270
Queensland,0.016370,-0.001356,-0.001268,-0.000897,-0.000678,-0.000959,-0.000959,-0.000339,-0.011072,-0.000678,...,-0.000959,-0.001398,-0.001626,-0.007021,-0.002584,-0.002326,-0.003327,-0.000339,-0.009837,-0.008905
Unknown,-0.009373,-0.000275,-0.000257,-0.000182,-0.000137,-0.000194,-0.000194,-0.000069,-0.003710,-0.000137,...,-0.000194,-0.000283,-0.000329,-0.001421,-0.000523,-0.000471,-0.000673,-0.000069,-0.003523,-0.003385
Poodle,0.005993,0.007615,-0.003372,0.014576,-0.001802,-0.002549,-0.002549,-0.000901,-0.048721,-0.001802,...,-0.002549,-0.003716,-0.004323,-0.014259,-0.006869,0.000368,-0.008844,-0.000901,-0.031781,-0.033480
Australian,0.026256,-0.005172,-0.004838,-0.003420,-0.002585,-0.003657,-0.003657,-0.001293,-0.053432,-0.002585,...,-0.003657,-0.005331,-0.006202,-0.014237,-0.009856,0.005117,-0.002893,-0.001293,0.000260,0.001517
Retr,0.023451,-0.008161,-0.007634,-0.005397,-0.004080,-0.005770,-0.005770,-0.002040,-0.056292,-0.004080,...,-0.005770,-0.008413,-0.000834,-0.004334,-0.009910,-0.004598,0.006307,-0.002040,0.997004,0.958003
Husky,-0.007957,-0.002488,-0.002327,-0.001645,-0.001243,-0.001759,-0.001759,-0.000622,-0.028312,-0.001243,...,-0.001759,-0.002564,-0.002983,-0.012879,-0.004740,-0.004266,-0.006103,-0.000622,-0.015316,-0.013516
Jack,0.008579,-0.002598,-0.002431,-0.001718,-0.001299,-0.001837,-0.001837,-0.000649,-0.027488,-0.001299,...,-0.001837,-0.002678,-0.003116,-0.010427,-0.004951,0.013543,-0.006375,-0.000649,-0.026714,-0.025190
Flat,0.007828,-0.001155,-0.001080,-0.000764,-0.000577,-0.000817,-0.000817,-0.000289,-0.004261,-0.000577,...,-0.000817,-0.001191,-0.001385,-0.005980,-0.002201,-0.001981,-0.002834,-0.000289,0.141939,0.001038
Schipperke,0.003306,-0.000549,-0.000514,-0.000363,-0.000274,-0.000388,-0.000388,-0.000137,-0.007422,-0.000274,...,-0.000388,-0.000566,-0.000658,-0.002843,-0.001046,-0.000942,-0.001347,-0.000137,-0.007046,-0.006771
Burmese,0.007319,-0.000158,-0.000148,-0.000105,-0.000079,-0.000112,-0.000112,-0.000040,-0.002142,-0.000079,...,-0.000112,-0.000163,-0.000190,-0.000821,-0.000302,-0.000272,-0.000389,-0.000040,-0.002034,-0.001954
Corgi,0.023237,-0.002049,-0.001916,-0.001355,-0.001024,-0.001448,-0.001448,-0.000512,-0.022868,-0.001024,...,-0.001448,-0.002112,-0.002457,-0.010607,-0.003904,-0.003513,-0.005026,-0.000512,-0.021263,-0.023529
Pembroke,0.010067,-0.001003,-0.000938,-0.000663,-0.000501,-0.000709,-0.000709,-0.000251,-0.010293,-0.000501,...,-0.000709,-0.001034,-0.001203,-0.005194,-0.001911,-0.001720,-0.002461,-0.000251,-0.002661,-0.008852
American,-0.014822,-0.003113,0.010907,-0.002059,-0.001556,0.016077,-0.002201,-0.000778,0.210693,-0.001556,...,-0.002201,-0.003209,-0.003733,0.006721,0.007658,-0.005338,0.002934,-0.000778,-0.025490,-0.023448
Elkhound,0.007319,-0.000158,-0.000148,-0.000105,-0.000079,-0.000112,-0.000112,-0.000040,-0.002142,-0.000079,...,-0.000112,-0.000163,-0.000190,-0.000821,-0.000302,-0.000272,-0.000389,-0.000040,-0.002034,-0.001954
Swedish,0.014555,-0.000419,-0.000392,1.000000,-0.000210,-0.000296,-0.000296,-0.000105,-0.005668,-0.000210,...,-0.000296,-0.000432,-0.000503,-0.002171,-0.000799,-0.000719,-0.001029,-0.000105,-0.005381,-0.005171
Silky,-0.006305,-0.000448,-0.000419,-0.000296,-0.000224,-0.000317,-0.000317,-0.000112,-0.006059,-0.000224,...,1.000000,-0.000462,-0.000538,-0.002321,-0.000854,-0.000769,-0.001100,-0.000112,-0.005753,-0.005528
Himalayan,-0.000698,-0.000654,-0.000611,-0.000432,-0.000327,-0.000462,-0.000462,-0.000163,-0.008834,-0.000327,...,-0.000462,1.000000,-0.000784,-0.003384,-0.001246,-0.001121,-0.001604,-0.000163,-0.008388,-0.008059
St.,-0.015341,-0.000760,-0.000711,-0.000503,-0.000380,-0.000538,-0.000538,-0.000190,-0.005973,-0.000380,...,-0.000538,-0.000784,1.000000,-0.003937,-0.001449,-0.001304,-0.001866,-0.000190,-0.000783,-0.000104
Boxer,0.006639,-0.003283,-0.003071,-0.002171,-0.001641,-0.002321,-0.002321,-0.000821,0.004246,-0.001641,...,-0.002321,-0.003384,-0.003937,1.000000,0.013104,-0.005630,0.001985,-0.000821,-0.004115,-0.001206
Mastiff,0.000580,-0.001208,-0.001130,-0.000799,-0.000604,-0.000854,-0.000854,-0.000302,-0.000057,-0.000604,...,-0.000854,-0.001246,-0.001449,0.013104,1.000000,-0.002072,0.091132,-0.000302,-0.009850,-0.009056
Whippet,0.009334,-0.001087,-0.001017,-0.000719,-0.000544,-0.000769,-0.000769,0.145732,-0.014698,-0.000544,...,-0.000769,-0.001121,-0.001304,-0.005630,-0.002072,1.000000,-0.002668,-0.000272,-0.004533,-0.006920
Chinese,0.001554,-0.001556,-0.001455,-0.001029,-0.000778,-0.001100,-0.001100,-0.000389,0.010622,-0.000778,...,-0.001100,-0.001604,-0.001866,0.001985,0.091132,-0.002668,1.000000,-0.000389,0.006431,0.008088
Tennesse,0.007319,-0.000158,-0.000148,-0.000105,-0.000079,-0.000112,-0.000112,-0.000040,-0.002142,-0.000079,...,-0.000112,-0.000163,-0.000190,-0.000821,-0.000302,-0.000272,-0.000389,1.000000,-0.002034,-0.001954
Retriever,0.023105,-0.008137,-0.007611,-0.005381,-0.004068,-0.005753,-0.005753,-0.002034,-0.055830,-0.004068,...,-0.005753,-0.008388,-0.000783,-0.004115,-0.009850,-0.004533,0.006431,-0.002034,1.000000,0.960881
Labrador,0.024432,-0.007819,-0.007313,-0.005171,-0.003908,-0.005528,-0.005528,-0.001954,-0.052025,-0.003908,...,-0.005528,-0.008059,-0.000104,-0.001206,-0.009056,-0.006920,0.008088,-0.001954,0.960881,1.000000

## TO DO: explore other plot types & colors...
- ie boxplots?
- regplot, lmplot (logistic regression plot from seaborn?)

In [56]:
animals['sex'].value_counts().iplot(kind='bar', yTitle='Sex', title='Animal sex',)

In [55]:
animals['name'].value_counts()[:20].iplot(kind='bar', yTitle='Name Frequency', title='Animal names',)

In [57]:
animals['outcome'].value_counts().iplot(kind='bar', yTitle='Outcomes', title='Animal outcomes',)

In [59]:
# subset/group by dog vs cat
animals['breed'].value_counts().iplot(kind='bar', yTitle='Breeds', title='Animal Breeds')

In [60]:
# subset/group by dog vs cat
animals['color'].value_counts().iplot(kind='bar', yTitle='Color of coat', title='Animal coat colors')